<div class="anim-slide-right data--base--sidenav data--error" >
    <md-sidenav
            class="md-sidenav-right pull--left data--base--wrapper "
            md-component-id="left"
            md-is-locked-open="true"
            md-whiteframe="4"
    >
        <div class="select--data--source--box">
            选择数据源
        </div>
        <md-content layout-padding class="data--base--column--wrapper clearfix">
            <md-list flex>
                <!--<md-subheader class="md-no-sticky"></md-subheader>-->
                <md-list-item class="md-1-line each--column--box" ng-repeat="item in vm.dataBases" ng-click="vm.getBaseData(item.objectId)"  ng-class="{active: vm.parameter.objectId == item.objectId}">
                    <div class="md-list-item-text" layout="column" >
                     <span>
                        <span class="fa fa-database" aria-hidden="true"></span>
                        {{ item.displayName }}
                     </span>
                    </div>
                </md-list-item>
            </md-list>
        </md-content>


    </md-sidenav>
</div>
<div class="anim-slide-left data--base--sidenav--right--box">
    <div class="data--filtering--wrapper">
        <div class="data--filtering--head">
            <span class="title">数据过滤</span>
            <i ng-show="vm.showMenu" ng-click="vm.showMenu=!vm.showMenu" class="fa fa-angle-down put--away--btn" style="cursor: pointer" aria-hidden="true"></i>
            <i ng-show="!vm.showMenu" ng-click="vm.showMenu=!vm.showMenu" class="fa fa-angle-right put--away--btn" style="cursor: pointer" aria-hidden="true"></i>
        </div>
        <div class="filter--properties--box" ng-init="vm.showMenu=true" ng-class="{true: 'showTool', false: 'hiddenTool'}[vm.showMenu]" style="transition: .3s linear all;">
            <div class="single--attribute--box">
                <span class="attribute--title">按数据形态</span>
                <div class="attribute--value">
                    <ui-select multiple ng-model="vm.parameter.dataType" theme="bootstrap"  close-on-select="false" title="Choose a color">
                        <ui-select-match placeholder="按数据形态">{{$item}}</ui-select-match>
                        <ui-select-choices repeat="dataType in vm.dataTypeList | filter:$select.search">
                            {{dataType}}
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
            <div class="single--attribute--box">
                <span class="attribute--title">按来源系统</span>
                <div class="attribute--value">
                    <ui-select multiple ng-model="vm.parameter.systemSource" theme="bootstrap"  close-on-select="false" title="Choose a color">
                        <ui-select-match placeholder="按来源系统">{{$item}}</ui-select-match>
                        <ui-select-choices repeat="system in vm.systemSourceLists | filter:$select.search">
                            {{system}}
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
            <div class="single--attribute--box">
                <span class="attribute--title">按单位</span>
                <div class="attribute--value">
                    <ui-select multiple ng-model="vm.parameter.unit" theme="bootstrap"   close-on-select="false" title="Choose a color">
                        <ui-select-match placeholder="按单位">{{$item}}</ui-select-match>
                        <ui-select-choices repeat="unit in vm.unitList | filter:$select.search">
                            {{unit}}
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
            <div class="single--attribute--box time--frame">
                <span class="attribute--title">时间范围</span>
                <div  layout="row" class="attribute--value">
                    <p class="input-group">
                        <input type="text" class="form-control" uib-datepicker-popup ng-model="vm.parameter.dateFrom" is-open="popup2.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
                          <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="popup2.opened = true"><i class="glyphicon glyphicon-calendar"></i></button>
                          </span>
                    </p>
                </div>
                <span class="time--frame__sign">-</span>
                <div  layout="row" class="attribute--value">
                    <p class="input-group">
                        <input type="text" class="form-control" uib-datepicker-popup ng-model="vm.parameter.dateTo" is-open="popup3.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
                          <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="popup3.opened = true"><i class="glyphicon glyphicon-calendar"></i></button>
                          </span>
                    </p>
                </div>
            </div>
            <div class="search--location--box">
                <input type="checkbox" ng-click="vm.parameter.dataError = !vm.parameter.dataError" ng-checked="vm.parameter.dataError">
                <span style="padding: 5px 0px">只显示有异常的批次</span>
                <md-button class="md-raised pull-right green--btn" ng-click="vm.search()">搜索</md-button>
            </div>
        </div>
    </div>
    <div >
        <div class="clearfix batch--info--box" style="width:100%;margin-bottom: 10px;">
            <div class="batch--info--count">
                <span class="title">批次信息</span>
                <span class="data--count">共有132个批次信息</span>
            </div>
            <md-button class="md-raised pull-right green--btn" ng-click="vm.search()">
                <span class="glyphicon glyphicon-new-window"></span>
                <span>导出报表</span></md-button>
            <md-button  class="md-raised pull-right red--btn" ng-click="vm.search()">
                <span class="glyphicon glyphicon-refresh"></span>
                <span>强制转换</span>
                </md-button>
        </div>
        <div ui-grid="gridOptions" class="common--uigrid--height" ui-grid-selection ui-grid-infinite-scroll></div>
    </div>

</div>