<md-dialog aria-label="Mango" class="add--file--name--modal--wrapper">
    <form ng-cloak
          name="newFileName"
          novalidate
          ng-submit="newFileName.$valid?vm.newFileName():vm.newFileName.submit=true">
        <md-toolbar class="md-menu-toolbar">
            <div class="md-toolbar-tools">
                <h2 class="modal--head--title">文档模板</h2>
                <!--<img class="modal&#45;&#45;head&#45;&#45;icon" src="images/edit&#45;&#45;custom&#45;&#45;data&#45;&#45;modal&#45;&#45;head&#45;&#45;icon.png" alt=""/>-->
                <span flex></span>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content add--file--name--modal--content">
                <div class="attribute--row--box">
                    <span class="attribute--row--box__title">文档模板名称</span>
                    <div class="popover-wrapper attribute--row--box__value">
                        <input ng-model="vm.fileName"
                               class="form-control"
                               name="Filename"
                               required
                               hs-form-message
                               hs-form-message-show="vm.newFileName.submit"
                               hs-form-message-template="newFileName_Filename.html"
                                >
                    </div>
                </div>
            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row" class="add--file--name--modal--footer">
            <span flex></span>
            <md-button  ng-click="vm.cancel()">
                取消
            </md-button>
            <md-button  type="submit" class="green--btn">
                确定
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
<script type="text/ng-template" id="newFileName_Filename.html" >
    <div ng-show="vm.newFileName.submit">
        <div  ng-show="newFileName.Filename.$error.required" >
            <div hs-form-message-chrome-bubble  >
                <span >请输入名称</span>
            </div>
        </div>
    </div>
</script>