<md-dialog aria-label="Mango" class="edit--custom--data--modal--wrapper">
    <form ng-cloak>
        <md-toolbar class="md-menu-toolbar">
            <div class="md-toolbar-tools">
                <h2 class="modal--head--title">File</h2>
                <md-select class="edit--custom--data--modal__select" style="width: 150px;
                            margin-left: 20px;
                            margin-top: 30px;
                            "
                           ng-model="vm.currentFileId" >
                    <md-option ng-repeat="fileLists in vm.fileLists" value="{{fileLists.objectId}}" >
                        {{fileLists.name}}
                    </md-option>
                </md-select>
                <img class="modal--head--icon" src="images/edit--file--data--modal--head--icon.png" alt=""/>
                <span flex></span>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content edit--custom--data--modal--content">
                <form name="customData" action="">
                    <div class="attribute--row--box">
                        <div class="attribute--row--box__header">默认数据项</div>
                        <table class="table attribute--row--box__table">
                            <thead>
                            <tr class="table__th--tr">
                                <th>序号</th>
                                <th>元数据</th>
                                <th>类型</th>
                                <th>长度</th>
                                <th>必填</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="data in vm.entity" ng-if="data.containerId == vm.currentFileId && data.systemAttribute">
                                <td>{{$index}}</td>
                                <td>{{data.displayName}}</td>
                                <td>{{data.attributeType}}</td>
                                <td>{{data.attributeLength}}</td>
                                <td>{{data.required}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="attribute--row--box">
                        <div class="attribute--row--box__header">自定义元数据</div>
                        <table class="table attribute--row--box__table">
                            <thead>
                            <tr class="table__th--tr">
                                <th></th>
                                <th>元数据</th>
                                <th>类型</th>
                                <th>长度</th>
                                <th>必填</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="customData in vm.entity" ng-if="customData.containerId == vm.currentFileId && !customData.systemAttribute">
                                <td class="add--attribute--btn--td">
                                    <button class="fa fa-minus delete--attribute--btn" ng-click="vm.deleteCustomdata($index)"></button>
                                </td>
                                <td>
                                    <div class="md-block edit--custom--data--modal__input--box">
                                        <input class="form-control edit--custom--data--modal__input" ng-model="customData.displayName">
                                    </div>
                                </td>
                                <td>
                                    <md-input-container class="md-block edit--custom--data--modal__select--box" flex-gt-sm>
                                        <md-select class="edit--custom--data--modal__select" ng-model="customData.attributeType">
                                            <md-option ng-repeat="type in vm.typeLists" value="{{type}}">
                                                {{type}}
                                            </md-option>
                                        </md-select>
                                    </md-input-container>
                                </td>
                                <td>
                                    <div class="md-block edit--custom--data--modal__input--box">
                                        <input class="form-control edit--custom--data--modal__input" ng-model="customData.attributeLength">
                                    </div>
                                </td>
                                <td>
                                    <md-input-container class="md-block edit--custom--data--modal__select--box" flex-gt-sm>
                                        <md-select ng-model="customData.required" class="edit--custom--data--modal__select">
                                            <md-option  value="true">
                                                是
                                            </md-option>
                                            <md-option  value="false">
                                                否
                                            </md-option>
                                        </md-select>
                                    </md-input-container>
                                </td>
                            </tr>
                            <tr >
                                <td class="add--attribute--btn--td">
                                    <button class="fa fa-plus add--attribute--btn" ng-click="vm.addCustomData()"></button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </form>
            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row" class="new--project--manage--modal--footer">
            <span flex></span>
            <md-button  ng-click="vm.cancel()">
                取消
            </md-button>
            <md-button  ng-click="vm.saveCustomData()" class="green--btn">
                确定
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>