<md-dialog aria-label="Mango">
    <div class="new-project-alert-modal-wrapper">
        <div class="new-project-alert-icon-box">
            <img src="images/new-project-alert-icon.png" alt=""/></div>
        <div class="new-project-alert-prompt">
            <h1>干得不错！</h1>
        </div>
        <div class="success--tips">
            <span>模版升级完成</span>
        </div>
        <div class="btn-box" >
            <md-button  ng-disabled="vm.loading" ng-click="vm.cancel()" class="green--btn">
                确定
            </md-button>
        </div>

    </div>



    </form>
</md-dialog>