<md-dialog aria-label="Mango">
    <div class="new-project-alert-modal-wrapper">
        <div class="new-project-alert-icon-box">
            <img src="images/upgrade-project-alert-icon.png" alt=""/></div>
        <div class="new-project-alert-prompt">
            <h1 translate="MODULES_PROJECTMANAGE_IS_THERE_AN_UPGRADE">确定升级吗?</h1>
        </div>
        <div class="success--tips">
            <span translate="MODULES_PROJECTMANAGE_DATA_TEMPLATES_NEED_TO_BE_UPGRADED">数据模板修改之后需要升级</span>
        </div>
        <div class="btn-box" >
            <md-button  ng-disabled="vm.loading" ng-click="vm.cancel()" translate="MODULES_PROJECTMANAGE_NOT_UPGRADE">
                不升级
            </md-button>
            <md-button  ng-disabled="vm.loading" ng-click="vm.update()" class="green--btn" translate="MODULES_PROJECTMANAGE_UPGRADE">
                升级
            </md-button>
        </div>

    </div>



    </form>
</md-dialog>