@charset "utf-8";
//newProjectAlert
.new-project-alert-modal-wrapper{
  width: 454px;
  height: 370px;
  padding: 30px;
  .new-project-alert-icon-box{
    text-align: center;
  }
  .new-project-alert-prompt{
    text-align: center;
    font-size: 38px;
  }
  .success--tips{
    text-align: center;
    font-size: 16px;
    color: #999999;
    padding: 17px 0;
  }
  .btn-box{
    text-align: center;
  }
}