<md-toolbar class="md-theme-indigo right--sidebar--info--head">
    <div class="md-toolbar-tools">
        <button type="button" class="close" ng-click="vm.closeSideBar()" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
        <div class="head" translate="MODULES_BATCH_DETAILED_INFORMATION">详细信息</div>
        <div class="title">{{vm.batchInfo.batchCode}}</div>

    </div>
</md-toolbar>

<md-content  class="right--sidebar--info--content">
    <md-tabs md-dynamic-height md-border-bottom>
        <md-tab label="{{'MODULES_BATCH_BATCH_BASIC_INFORMATION'|translate}}">
            <md-content class="">
                <div class="attr--type--box">
                    <!--<span>基本信息</span>-->
                    <div class="single--attr--row">
                        <label class="title" translate="MODULES_BATCH_BATCH_NUMBER">批次号</label>
                        <span class="value" title="{{vm.batchInfo.batchCode}}">{{vm.batchInfo.batchCode}}</span>
                    </div>
                    <div class="single--attr--row">
                        <label class="title" translate="MODULES_BATCH_BUSINESS_SYSTEM_ID">业务系统ID</label>
                        <span class="value" title="{{vm.projectInfo.businessCode}}">{{vm.projectInfo.businessCode}}</span>
                    </div>
                    <div class="single--attr--row">
                        <label class="title" translate="MODULES_BATCH_BUSINESS_SYSTEM_NAME">业务系统名称</label>
                        <span class="value" title="{{vm.projectInfo.systemName}}">{{vm.projectInfo.systemName}}</span>
                    </div>
                    <div class="single--attr--row">
                        <label class="title" translate="MODULES_BATCH_STATE">状态</label>
                        <span class="value" ng-if="vm.batchInfo.batchStatus==0" translate="MODULES_BATCH_AIU_PACKAGE">AIU封装中</span>
                        <span class="value" ng-if="vm.batchInfo.batchStatus==1" translate="MODULES_BATCH_AIU_PACKAGE_COMPLETE">AIU封装完成</span>
                        <span class="value" ng-if="vm.batchInfo.batchStatus==2" translate="MODULES_BATCH_SIP_PACKAGE">SIP封装中</span>
                        <span class="value" ng-if="vm.batchInfo.batchStatus==3" translate="MODULES_BATCH_SIP_PACKAGE_COMPLETE">SIP封装完成</span>
                        <span class="value" ng-if="vm.batchInfo.batchStatus==4" translate="MODULES_BATCH_AIP_PACKAGE">AIP封装中</span>
                        <span class="value" ng-if="vm.batchInfo.batchStatus==5" translate="MODULES_BATCH_AIP_PACKAGE_COMPLETE">AIP封装完成</span>
                        <span class="value" ng-if="vm.batchInfo.batchStatus==6" translate="MODULES_BATCH_ABNORMAL">异常</span>
                    </div>
                </div>
                <div class="attr--type--box">
                    <div class="single--attr--row">
                        <label class="title ver-align-top" translate="MODULES_BATCH_GENERATE_AIU">生成AIU</label><div class="value ver-align-top">
                        <uib-progressbar ng-show="vm.batchInfo.DATA2AIU!=100" class="progress-striped active" type="warning" value="vm.batchInfo.DATA2AIU"></uib-progressbar>
                        <uib-progressbar ng-show="vm.batchInfo.DATA2AIU==100" class="progress-striped active" type="success" value="vm.batchInfo.DATA2AIU"></uib-progressbar><span>{{vm.batchInfo.DATA2AIU}}%</span>
                        <div class="sidebar--progress--time">{{vm.batchInfo.packageAiuStartDate | date:'yyyy/MM/dd&nbsp;HH:mm:ss'}}&nbsp;-&nbsp;{{vm.batchInfo.packageAiuEndDate | date:'yyyy/MM/dd&nbsp;HH:mm:ss'}}</div>
                    </div>

                    </div>
                    <div class="single--attr--row">
                        <label class="title ver-align-top">AIU <span class="fa fa-long-arrow-right"></span> SIP</label><div class="value ver-align-top">
                            <uib-progressbar ng-show="vm.batchInfo.batchStatus>1 && vm.batchInfo.AIU2SIP!=100"  class="progress-striped active" type="warning" value="vm.batchInfo.AIU2SIP"></uib-progressbar>
                            <uib-progressbar ng-show="vm.batchInfo.batchStatus>1 && vm.batchInfo.AIU2SIP==100" class="progress-striped active" type="success" value="vm.batchInfo.AIU2SIP"></uib-progressbar>
                            <span ng-show="vm.batchInfo.batchStatus>1">{{vm.batchInfo.AIU2SIP}}%</span>
                            <span ng-if="vm.batchInfo.batchStatus<=1" translate="MODULES_BATCH_NOT_START">未开始</span>
                            <div class="sidebar--progress--time">{{vm.batchInfo.packageSipStartDate | date:'yyyy/MM/dd&nbsp;HH:mm:ss'}}&nbsp;-&nbsp;{{vm.batchInfo.packageSipEndDate | date:'yyyy/MM/dd&nbsp;HH:mm:ss'}}</div>
                        </div>
                    </div>
                    <div class="single--attr--row">
                        <label class="title ver-align-top">SIP <span class="fa fa-long-arrow-right"></span> AIP</label><div class="value ver-align-top">
                            <uib-progressbar ng-show="vm.batchInfo.batchStatus>=4 && vm.batchInfo.SIP2AIP!=100" class="progress-striped active"  type="warning" value="vm.batchInfo.SIP2AIP"></uib-progressbar>
                            <uib-progressbar ng-show="vm.batchInfo.batchStatus>=4 && vm.batchInfo.SIP2AIP==100" class="progress-striped active"  type="success" value="vm.batchInfo.SIP2AIP"></uib-progressbar>
                            <span ng-if="vm.batchInfo.batchStatus>=4">{{vm.batchInfo.SIP2AIP}}%</span>
                            <span ng-if="vm.batchInfo.batchStatus<4" translate="MODULES_BATCH_NOT_START">未开始</span>
                            <div class="sidebar--progress--time">{{vm.batchInfo.packageAipStartDate | date:'yyyy/MM/dd&nbsp;HH:mm:ss'}}&nbsp;-&nbsp;{{vm.batchInfo.packageAipEndDate | date:'yyyy/MM/dd&nbsp;HH:mm:ss'}}</div>
                        </div>
                    </div>
                </div>
                <div class="attr--type--box">
                    <!--<span>数据量信息</span>-->
                    <div class="single--attr--row">
                        <span class="title" translate="MODULES_BATCH_INTAKE_OF_AIU">摄入AIU数量</span>
                        <span class="value">{{vm.batchInfo.aiuCount}}</span>
                        <span class="title" translate="MODULES_BATCH_ERROR_NUMBER">出错数量</span>
                        <span class="value">0</span>
                    </div>
                    <div class="single--attr--row">
                        <span class="title" translate="MODULES_BATCH_AIU_CONVERSION_TO_SIP_NUMBER">AIU转换为SIP数量</span>
                        <span class="value">{{vm.batchInfo.aiu2sipSuccessCount}}</span>
                        <span class="title" translate="MODULES_BATCH_ERROR_NUMBER">出错数量</span>
                        <span class="value">{{vm.batchInfo.aiu2sipFailCount}}</span>
                    </div>
                    <div class="single--attr--row">
                        <span class="title" translate="MODULES_BATCH_SIP_CONVERSION_TO_AIP_NUMBER">SIP转换为AIP数量</span>
                        <span class="value">{{vm.batchInfo.aipCount}}</span>
                        <span class="title" translate="MODULES_BATCH_ERROR_NUMBER">出错数量</span>
                        <span class="value">{{vm.batchInfo.sip2aipFailCount || 0}}</span>
                    </div>
                    <div class="single--attr--row">
                        <span class="title" translate="MODULES_BATCH_DATA_QUANTITY">数据量</span>
                        <span class="value">{{vm.batchInfo.aipCapacity || 0 | formatByte}}</span>
                    </div>
                    <div class="single--attr--row">
                        <div class="data-volume-info-prompt">
                            <span class="fa fa-exclamation-circle"></span>
                            <span translate="MODULES_BATCH_DATA_QUANTITY_PROMPT">此数据量是指本批次AIP数据包的容量大小</span>
                        </div>
                    </div>

                </div>
                <div class="attr--type--box" ng-show="vm.errorInfo.packageCount > 0">
                    <div class="single--attr--row">
                        <span class="title" translate="MODULES_BATCH_ABNORMAL_PACKET_TYPE">异常数据包类型</span>
                        <span class="value" ng-if="vm.errorInfo.packageType == 0">AIU</span>
                        <span class="value" ng-if="vm.errorInfo.packageType == 1">SIP</span>
                    </div>
                    <div class="single--attr--row">
                        <span class="title" translate="MODULES_BATCH_ABNORMAL_PACKET_COUNT">异常数据包数量</span>
                        <span class="value">{{vm.errorInfo.packageCount}}</span>
                        <a ng-if="vm.errorInfo.id" ng-click="vm.checkErrorList(vm.errorInfo.id)" translate="MODULES_BATCH_CLICK_VIEW">点击查看</a>
                    </div>
                    <div class="single--attr--row">
                        <span class="title" translate="MODULES_BATCH_EXCEPTION_HANDLING">异常处理</span>
                        <span class="value" ng-if="vm.errorInfo.handleBehavior == 0" translate="MODULES_BATCH_PENDING_TREATMENT">待处理</span>
                        <span class="value" ng-if="vm.errorInfo.handleBehavior == 1" translate="MODULES_BATCH_BEEN_CONVERTED">已转换</span>
                        <span class="value" ng-if="vm.errorInfo.handleBehavior == 2" translate="MODULES_BATCH_DELETED">已删除</span>
                    </div>
                </div>
            </md-content>
        </md-tab>
        <md-tab label="{{'MODULES_BATCH_EXCEPTION_HANDLING_RECORD'|translate}}" ng-disabled="!vm.errorInfo || vm.errorInfo.packageCount == 0">
            <md-content class="">
                <div class="attr--type--box">
                    <div class="single--attr--row">
                        <label class="title" translate="MODULES_BATCH_ABNORMAL_PACKET_TYPE">异常数据包类型</label>
                        <span class="value" ng-if="vm.errorInfo.packageType == 0">AIU</span>
                        <span class="value" ng-if="vm.errorInfo.packageType == 1">SIP</span>
                    </div>
                    <div class="single--attr--row">
                        <label class="title" translate="MODULES_BATCH_ABNORMAL_PACKET_COUNT">异常数据包数量</label>
                        <span class="value">{{vm.errorInfo.packageCount}}</span>
                    </div>
                    <div class="single--attr--row">
                        <label class="title" translate="MODULES_BATCH_PROCESSING_TIME">处理时间</label>
                        <span class="value">{{vm.errorInfo.operateDate | date:'yyyy年MM月dd日'}}</span>
                    </div>
                    <div class="single--attr--row">
                        <label class="title" translate="MODULES_BATCH_PROCESSING_ACTION">处理动作</label>
                        <span class="value" translate="MODULES_BATCH_FORCED_CONVERSION">强制转换</span>
                        <!--<span class="value" ng-if="vm.errorInfo.handleBehavior == 0" >待处理</span>-->
                        <!--<span class="value" ng-if="vm.errorInfo.handleBehavior == 1" >已转换</span>-->
                        <!--<span class="value" ng-if="vm.errorInfo.handleBehavior == 2" >已删除</span>-->
                        <a ng-if="vm.errorInfo.id" ng-click="vm.checkErrorList(vm.errorInfo.id)" translate="MODULES_BATCH_VIEW_DATA">查看数据</a>
                    </div>
                    <div class="single--attr--row">
                        <label class="title" translate="MODULES_BATCH_PROCESSING_PEOPLE">处理人</label>
                        <span class="value">{{vm.errorInfo.operator}}</span>
                    </div>
                    <div class="single--attr--row">
                        <label class="title" translate="MODULES_BATCH_RESULT">处理结果</label>
                        <span><span translate="MODULES_BATCH_SUCCESS">成功</span> {{vm.errorInfo.successCount}}</span>
                        <span><span translate="MODULES_BATCH_FAIL">失败</span> {{vm.errorInfo.failCount}}</span>
                    </div>
                </div>
            </md-content>
        </md-tab>
    </md-tabs>

</md-content>