<div class="col-md-8 " style="width: 100%;overflow: scroll;height: 100%;">
    <div view-source="simple"></div>
    <ul dnd-list="models.templates">
        <li ng-repeat="item in models.templates"
            dnd-draggable="item"
            dnd-effect-allowed="move"
            dnd-moved="models.templates.splice($index, 1)"
            style="
                  float: left;
                  background-color: #fff;
                  border: 1px solid #ddd;
                  border-top-right-radius: 4px;
                  border-top-left-radius: 4px;
                  display: block;
                  padding: 10px 15px;
                  margin-bottom: -1px;
                  width: 150px;
                "
        >
            <span  >{{item.type}}:{{item.id}}</span>
        </li>
    </ul>
    <div style="width: 100%;
    float: left;
    margin-top: 20px;
    margin-left: 31px;">
        <md-button class="green--btn" ng-click="vm.addContainer()">增加表单</md-button>
        <md-button class="green--btn" ng-click="vm.checkData()">查看数据</md-button>
    </div>
    <h1 style="float:left">
        模版配置
    </h1>
    <div class="row" style="margin-left: 11px;float:left;width:100%;height: 1000px;
    overflow: scroll;">
        <div ng-repeat="list in models.lists"
             class="gray"
             style="float:left;margin: 0px 0px;width:100%;padding:0px 0px"
        >
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <md-menu>
                            <md-button aria-label="Open phone interactions menu"  ng-click="vm.openMenu($mdMenu, $event)">
                                {{list.name}}
                            </md-button>
                            <md-menu-content width="4">
                                <md-menu-item>
                                    <span class="single--attribute--box__title">模块名</span><div class="single--attribute--box__value">
                                    <input ng-model="list.name"
                                           class="form-control single--attribute--box__value-input"
                                           name="projectName"
                                    >
                                </div>
                                </md-menu-item>
                            </md-menu-content>
                        </md-menu>
                    </h3>
                    <span ng-click="models.lists.splice($index, 1)">删除</span>
                </div>
                <div class="panel-body"
                        style="width:100%;height: 100%;"
                >
                    <ul dnd-list="list.data"  style="min-height: 100px">
                        <li ng-repeat="item in list.data"
                            style="background-color:#fff;display: block;
                               float: left;width: 30%;height: 50px;border:1px solid;"
                            dnd-draggable="item"
                            dnd-moved="list.data.splice($index, 1)"
                            dnd-effect-allowed="move"
                            dnd-selected="models.selected = item"
                            ng-class="{'selected': models.selected === item}"
                        >
                            item: {{item.id}}
                            <!--<div style="top: 0px;position: absolute;right: -39px;z-index: 29" ng-show="models.selected === item">-->
                                <!--<span class="glyphicon glyphicon-remove" style="float: right;color:red" ng-click="list.data.splice($index, 1)"></span>-->
                            <!--</div>-->
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <h1 style="float:left">
        展示结果
    </h1>
    <div class="row" style="margin-left: 11px;float:left;width:100%;height: 1000px;overflow: scroll;">
        <div ng-repeat="list in models.lists" style="float:left;margin: 0px 0px;width:100%;padding:0px 0px;border:1px solid black">
            <div style="width: 100%;float: left">
                <h1>{{list.name}}</h1>
            </div>
            <div class="panel-body" style="width:100%;height: 100%;">
                <div ng-repeat="attr in list.data"
                     style="background-color:#fff;display: block;padding:10px 15px;
                                margin-left: 15px;float: left;position: relative;width: 30%;height: 50px;">
                    {{attr.id}} : xxx
                </div>
            </div>
        </div>
    </div>
</div>