<form class="normal--user--login clearfix"
       name="form_login"
      ng-submit="form_login.$valid?vm.login(vm.user):vm.form_login.submit=true">
  <div id="loading-bar-container"></div>
    <div class="logon--location">
        <img class="logon--location__logo" src="images/logo.png" alt=""/>
    </div>
  <div class="input-content-wrapper">
    <div class="caption" translate="MODULES_LOGIN_LOGIN">登录</div>
    <div class="input-content--box">
      <div class="form-group user-login-input">
        <div abc-def>
          <md-input-container class="md-block">
            <label class="title" translate="MODULES_LOGIN_USER_NAME"></label>
            <input type="text"
                   name="loginName"
                   ng-model="vm.user.loginName"
                   class="form-control user-login-input__input"
                   placeholder="Account"
                   required
                   md-no-asterisk
            >
            <div ng-messages="form_login.loginName.$error">
              <div ng-message="required" translate="MODULES_LOGIN_PLEASE_ENTER_ACCOUNT">请输入帐号</div>
            </div>
          </md-input-container>
        </div>

      </div>
      <div class="form-group user-login-input ">
        <md-input-container class="md-block">
          <label class="title" translate="MODULES_LOGIN_PASSWORDT">密　码</label>
          <input type="password" name="password"
                 ng-model="vm.user.password"
                 md-no-asterisk
                 class="form-control user-login-input__input"
                 placeholder="Password"
                 minlength="1"
                 maxlength="18"
                 required
          >
          <div ng-messages="form_login.password.$error">
            <div ng-message="required" translate="MODULES_LOGIN_PLEASE_INPUT_A_PASSWORD">请输入密码</div>
            <div ng-message="maxlength" translate="MODULES_LOGIN_PASSWORD_LENGTH_SHOULD_NOT_EXCEED">密码长度不能超过18位</div>
            <div ng-message="minlength" translate="MODULES_LOGIN_PASSWORD_LENGTH_SHOULD_NOT_BE_LESS_THAN">密码长度不能少于6位</div>
          </div>
        </md-input-container>
      </div>
      <div class="form-group user-login-input ">
        <label class="select--language--title" translate="MODULES_LOGIN_LANGUAGE">语　言</label><md-input-container class="select--language--box">
          <md-select ng-change="vm.changeLanguage(vm.user.language)" class="select--language--box__select" ng-model="vm.user.language" ng-init="vm.user.language = 'cn'">
            <md-option  value="en" >
              English
            </md-option>
            <md-option  value="cn" >
              中文
            </md-option>
          </md-select>
        </md-input-container>
      </div>

      <div class="checkbox user-login-checkbox">
        <label >
          <input type="checkbox" ng-model="vm.remember"> <span translate="MODULES_LOGIN_REMEMBER_ME">记住我</span>
        </label>
      </div>
      <button type="submit"
              ng-disabled="vm.loading"
              class="btn btn-primary user-login-btn"
              >
        <span translate="MODULES_LOGIN_LOGIN">登录</span>
      </button>

    </div>

  </div>


</form>






