<div class="anim-slide-left service--watch--wrap">
   <div class="service--watch--prompt--wrap">
        <div class="title">数据视图</div>
        <div class="prompt--content">可以使用数据过滤浏览具体业务记录</div>
       <div class="data--base--view--type--filter">
           <button ng-click="vm.getTreeData()">随机模拟数据</button>
           <span class="data--base--view--type--filter_title">视图类型：</span>
           <md-radio-group class="radio--box" ng-model="vm.parameter.chartType" ng-change="vm.changeChartType(vm.parameter.chartType)">
               <md-radio-button value="unit" class="md-primary">按业务单位</md-radio-button>
               <md-radio-button value="source" class="md-primary"> 按系统来源 </md-radio-button>
           </md-radio-group>
       </div>
   </div>
    <div class="data--base--filter--condition--wrap">
        <div class="data--info--box">
            <div class="data--info--box_head">数据信息</div>
            <div class="attr--row--box">
                <label class="title">  最新更新日期 </label>
                <span class="value"> 2017/09/23 16:34:23 </span>
            </div>
            <div class="attr--row--box">
                <label class="title">对接系统数量</label>
                <span class="value">5</span>
            </div>
            <div class="attr--row--box">
                <label class="title">数据机构数量</label>
                <span class="value">119</span>
            </div>
            <div class="attr--row--box">
                <label class="title">业务数量</label>
                <span class="value">632</span>
            </div>
            <div class="attr--row--box">
                <label class="title">数据记录总量</label>
                <span class="value">2341412</span>
            </div>
            <div class="attr--row--box">
                <label class="title">数据总量</label>
                <span class="value">41512GB</span>
            </div>
        </div>
        <div class="data--info--box">
            <div class="data--info--box_head">数据过滤</div>
            <div class="select--attr--box">
                <label class="title">  单位 </label>
                <div class="select--value">
                    <md-select ng-model="vm.parameter.unit"
                               ng-change="vm.filterData()"
                    >
                        <md-option ng-repeat="unitLists in vm.unitLists" ng-value="unitLists.objectId" >{{unitLists.name}}</md-option>
                        <md-option ng-value="'all'" >所有</md-option>
                    </md-select>
                </div>
            </div>
            <div class="select--attr--box">
                <label class="title">  业务事项 </label>
                <div class="select--value">
                    <md-select ng-model="vm.parameter.item"
                               ng-change="vm.filterData()"
                    >
                        <md-option ng-repeat="itemLists in vm.itemLists" ng-value="itemLists.objectId" >{{itemLists.name}}</md-option>
                        <md-option ng-value="'all'" >所有</md-option>
                    </md-select>
                </div>
            </div>
            <div class="filter--btn--box">
                <md-button class="green--btn" ng-click="vm.search()">过滤</md-button>
            </div>
        </div>
    </div>
    <div style="float: left;width: calc(100% - 300px);height: calc(100% - 111px);overflow:auto">
        <circle-tree nodes="data" ng-if="vm.parameter.chartType=='unit'">
        </circle-tree>
        <straight-tree ng-if="vm.parameter.chartType=='source'"  id="customModule" nodes = 'data'  radius = '490'>
        </straight-tree>


    </div>
    <md-sidenav id="tree-data-node-detail" md-disable-backdrop class="md-sidenav-right data--base--right--sidebar--info--wrap" md-component-id="tree-data-node-detail" md-whiteframe="4">
        <div ng-include="'./modules/dataBase/template/sideBar/sideBar.html'"></div>
    </md-sidenav>

</div>