<div class="anim-slide-right data--base--sidenav">
    <md-sidenav
            class="md-sidenav-left pull--left data--base--wrapper "
            md-component-id="left"
            md-is-locked-open="true"
            md-whiteframe="4"
    >
        <div class="select--data--source--box" translate="MODULES_BATCH_SELECT_DATA_SOURCE">
            选择数据源
        </div>
        <div  class="data--base--column--wrapper">
            <ul class="data--base--column--box">
                <!--<md-subheader class="md-no-sticky"></md-subheader>-->
                <li class="each--column--box" ng-repeat="item in vm.dataBases" ng-click="vm.getBaseData(item.objectId)"  ng-class="{active: vm.parameter.objectId == item.objectId}">
                    <a>
                        <span class="fa fa-cubes" aria-hidden="true"></span>
                        {{ item.displayName }}
                    </a>
                </li>
            </ul>
        </div>
    </md-sidenav>
</div>
<div class="anim-slide-left data--base--sidenav--right--box">
    <div class="data--filtering--wrapper">
        <div class="data--filtering--head">
            <span class="title" translate="MODULES_DATABASE_DATA_FILTERING">数据过滤</span>
            <i ng-show="vm.showMenu" ng-click="vm.showMenu=!vm.showMenu" class="fa fa-angle-down put--away--btn" style="cursor: pointer" aria-hidden="true"></i>
            <i ng-show="!vm.showMenu" ng-click="vm.showMenu=!vm.showMenu" class="fa fa-angle-right put--away--btn" style="cursor: pointer" aria-hidden="true"></i>
        </div>
        <div class="filter--properties--box" ng-init="vm.showMenu=true" ng-class="{true: 'showTool', false: 'hiddenTool'}[vm.showMenu]"  style="transition: all 0.3s ease-in-out;">
            <div class="clearfix">
                <div class="single--attribute--box">
                    <span class="attribute--title" translate="MODULES_DATABASE_DATA_FORM">按数据形态</span>
                    <div class="attribute--value">
                        <ui-select multiple ng-model="vm.parameter.dataType" theme="bootstrap"  close-on-select="false"  title="Choose a color">
                            <ui-select-match placeholder="{{'MODULES_DATABASE_DATA_FORM'|translate}}">{{$item}}</ui-select-match>
                            <ui-select-choices repeat="dataType in vm.dataTypeList | filter:$select.search">
                                {{dataType}}
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
                <div class="single--attribute--box">
                    <span class="attribute--title" translate="MODULES_DATABASE_SOURCE_SYSTEM">按来源系统</span>
                    <div class="attribute--value">
                        <ui-select multiple ng-model="vm.parameter.systemSource" theme="bootstrap"  close-on-select="false"  title="Choose a color">
                            <ui-select-match placeholder="{{'MODULES_DATABASE_SOURCE_SYSTEM'|translate}}">{{$item}}</ui-select-match>
                            <ui-select-choices repeat="system in vm.systemSourceLists | filter:$select.search">
                                {{system}}
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
                <div class="single--attribute--box">
                    <span class="attribute--title" translate="MODULES_DATABASE_BY_UNIT">按单位</span>
                    <div class="attribute--value">
                        <ui-select multiple ng-model="vm.parameter.unit" theme="bootstrap"   close-on-select="false"  title="Choose a color">
                            <ui-select-match placeholder="{{'MODULES_DATABASE_BY_UNIT'|translate}}">{{$item}}</ui-select-match>
                            <ui-select-choices repeat="unit in vm.unitList | filter:$select.search">
                                {{unit}}
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
                <div class="single--attribute--box time--frame">
                    <span class="attribute--title" translate="MODULES_BATCH_TIME_FRAME">时间范围</span>
                    <div  layout="row" class="attribute--value">
                        <div class="input-group">
                            <input type="text" class="form-control " placeholder="{{'MODULES_BATCH_START_DATE'|translate}}" uib-datepicker-popup ng-model="vm.parameter.dateFrom" is-open="popup2.opened" datepicker-options="dateOptions" ng-required="true" close-text="{{'MODULES_BATCH_CLOSE'|translate}}" />
                          <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="popup2.opened = true"><i class="glyphicon glyphicon-calendar"></i></button>
                          </span>
                        </div>
                    </div><span class="time--frame__sign">-</span><div layout="row" class="attribute--value">
                        <div class="input-group">
                            <input type="text" class="form-control " placeholder="{{'MODULES_BATCH_DEADLINE'|translate}}" uib-datepicker-popup ng-model="vm.parameter.dateTo" is-open="popup3.opened" datepicker-options="dateOptions" ng-required="true" close-text="{{'MODULES_BATCH_CLOSE'|translate}}" />
                          <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="popup3.opened = true"><i class="glyphicon glyphicon-calendar"></i></button>
                          </span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="search--location--box">
                <input type="checkbox" ng-click="vm.parameter.dataError = !vm.parameter.dataError" ng-checked="vm.parameter.dataError">
                <span style="padding: 5px 0px" translate="MODULES_DATABASE_SHOW_ONLY_ABNORMAL_BATCHES">只显示有异常的批次</span>
                <md-button class="pull-right green--btn" ng-click="vm.search()" translate="MODULES_DATABASE_SEARCH">搜索</md-button>
            </div>
        </div>
    </div>

    <div style="float:left;width: 100%;">
        <div style="width: 100%;"  ui-grid="gridOptions" class="common--uigrid--height dataBase-grid" ui-grid-auto-resize ui-grid-resize-columns  ui-grid-exporter  ui-grid-move-columns ui-grid-save-state  ui-grid-resize-columns ui-grid-selection ui-grid-pagination ui-grid-pinning></div>
    </div>

</div>