<div class="anim-slide-left service--watch--wrap">
   <md-content>
       <md-list-item class="md-2-line service--watch--prompt--wrap">
           <div class="md-list-item-text">
               <h3 class="title" translate="MODULES_DATABASE_DATA_VIEW">数据视图</h3>
               <p class="prompt-content" translate="MODULES_DATABASE_DATA_VIEW_PROMPT">可以使用数据过滤浏览具体业务记录</p>
           </div>
           <div class="data--base--view--type--filter">
               <span class="data--base--view--type--filter_title"><span translate="MODULES_DATABASE_VIEW_TYPE">视图类型</span>：</span>
               <md-radio-group class="radio--box" ng-model="vm.parameter.chartType" ng-change="vm.changeChartType(vm.parameter.chartType)">
                   <md-radio-button value="unit" class="md-primary"><span translate="MODULES_DATABASE_BUSINESS_UNIT">按业务单位</span></md-radio-button>
                   <md-radio-button value="source" class="md-primary"><span translate="MODULES_DATABASE_SYSTEM_SOURCE">按系统来源</span>  </md-radio-button>
               </md-radio-group>
           </div>
       </md-list-item>
   </md-content>
    <div class="data--base--filter--condition--wrap">
        <div class="data--info--box">
            <div class="data--info--box_head" translate="MODULES_DATABASE_DATA_INFORMATION">数据信息</div>
            <div class="attr--row--box">
                <label class="title" translate="MODULES_DATABASE_LATEST_UPDATE_DATE">  最新更新日期 </label>
                <span class="value"> {{vm.basicInfo.latestUpdateDate | date:'yyyy.MM.dd'}} </span>
            </div>
            <div class="attr--row--box">
                <label class="title" translate="MODULES_DATABASE_NUMBER_OF_DOCKING_SYSTEMS">对接系统数量</label>
                <span class="value">{{vm.basicInfo.systemCount}}</span>
            </div>
            <div class="attr--row--box">
                <label class="title" translate="MODULES_DATABASE_NUMBER_OF_BUSINESS_UNITS">业务单位数量</label>
                <span class="value">{{vm.basicInfo.unitCount}}</span>
            </div>
            <div class="attr--row--box">
                <label class="title" translate="MODULES_DATABASE_NUMBER_OF_BUSINESS_MATTERS">业务事项数量</label>
                <span class="value">{{vm.basicInfo.businessCount}}</span>
            </div>
            <div class="attr--row--box">
                <label class="title" translate="MODULES_DATABASE_TOTAL_NUMBER_OF_DATA_RECORDS">数据记录总数量</label>
                <span class="value">{{vm.basicInfo.recordCount}}</span>
            </div>
            <div class="attr--row--box">
                <label class="title" translate="MODULES_DATABASE_TOTAL_DATA_CAPACITY">数据总容量</label>
                <span class="value">{{vm.basicInfo.recordCapacity}}GB</span>
            </div>
        </div>
        <div class="data--info--box">
            <div class="data--info--box_head" translate="MODULES_DATABASE_DATA_FILTERING">数据过滤</div>
            <div class="select--attr--box" ng-if="vm.parameter.chartType == 'source'">
                <label class="title" translate="MODULES_DATABASE_DATA_SOURCES"> 数据来源 </label>
                <div class="select--value">
                    <!--<md-select ng-model="vm.parameter.unit"-->
                               <!--ng-change="vm.filterData()"-->
                    <!--&gt;-->
                        <!--<md-option ng-repeat="unitLists in vm.unitLists" ng-value="unitLists.objectId" >{{unitLists.name}}</md-option>-->
                        <!--<md-option ng-value="'all'" >所有</md-option>-->
                    <!--</md-select>-->
                    <md-autocomplete
                            md-selected-item="vm.parameter.unit"
                            md-search-text="vm.searchUnitText"
                            md-selected-item-change="vm.parameter.item = {objectId:'all',name:'所有'};vm.filterData()"
                            md-items="unitLists in vm.querySearch(vm.searchUnitText,vm.unitLists)"
                            md-item-text="unitLists.name"
                            md-min-length="0"
                            placeholder="{{'MODULES_DATABASE_SELECT_DATA_SOURCE'|translate}}">
                        <md-item-template>
                            <span md-highlight-text="vm.searchUnitText" md-highlight-flags="^i">{{unitLists.name}}</span>
                        </md-item-template>
                        <md-not-found>
                            <span translate="MODULES_DATABASE_NOT_FOUND">没有找到与</span> "{{vm.searchUnitText}}" <span translate="MODULES_DATABASE_MATCHED">匹配的</span>
                        </md-not-found>
                    </md-autocomplete>
                </div>
            </div>

            <div class="select--attr--box" ng-if="vm.parameter.chartType == 'unit'">
                <label class="title" translate="MODULES_DATABASE_COMPANY">  单位 </label>
                <md-autocomplete
                        md-selected-item="vm.parameter.unit"
                        md-search-text="vm.searchUnitText"
                        md-selected-item-change="vm.parameter.item = {objectId:'all',name:'所有'};vm.filterData()"
                        md-items="unitLists in vm.querySearch(vm.searchUnitText,vm.unitLists)"
                        md-item-text="unitLists.name"
                        md-min-length="0"
                        placeholder="{{'MODULES_DATABASE_SELECT_UNIT'|translate}}">
                    <md-item-template>
                        <span md-highlight-text="vm.searchUnitText" md-highlight-flags="^i">{{unitLists.name}}</span>
                    </md-item-template>
                    <md-not-found>
                        <span translate="MODULES_DATABASE_NOT_FOUND">没有找到与</span> "{{vm.searchUnitText}}" <span translate="MODULES_DATABASE_MATCHED">匹配的</span>
                    </md-not-found>
                </md-autocomplete>
            </div>
            <div class="select--attr--box">
                <label class="title" translate="MODULES_DATABASE_BUSINESS_MATTERS">  业务事项 </label>
                <div class="select--value">
                    <!--<md-select ng-model="vm.parameter.item"-->
                               <!--ng-change="vm.filterData()"-->
                    <!--&gt;-->
                        <!--<md-option ng-repeat="itemLists in vm.itemLists" ng-value="itemLists.objectId" >{{itemLists.name}}</md-option>-->
                        <!--<md-option ng-value="'all'" >所有</md-option>-->
                    <!--</md-select>-->
                    <md-autocomplete
                            md-selected-item="vm.parameter.item"
                            md-no-cache="true"
                            md-search-text="vm.searchItemText"
                            md-selected-item-change="vm.filterData()"
                            md-items="items in vm.querySearch(vm.searchItemText,vm.itemLists)"
                            md-item-text="items.name"
                            md-min-length="0"
                            placeholder="{{'MODULES_DATABASE_SELECT_BUSINESS_MATTERS'|translate}}">
                        <md-item-template>
                            <span md-highlight-text="vm.searchItemText" md-highlight-flags="^i">{{items.name}}</span>
                        </md-item-template>
                        <md-not-found>
                            <span translate="MODULES_DATABASE_NOT_FOUND">没有找到与</span> "{{vm.searchItemText}}" <span translate="MODULES_DATABASE_MATCHED">匹配的</span>
                        </md-not-found>
                    </md-autocomplete>
                </div>
            </div>
            <!--<div class="filter&#45;&#45;btn&#45;&#45;box">-->
                <!--<md-button class="green&#45;&#45;btn" ng-click="vm.search()">过滤</md-button>-->
            <!--</div>-->
        </div>
    </div>
    <div class="data--base--svg--wrap">
        <!--<div class="data&#45;&#45;base&#45;&#45;svg&#45;&#45;operation-box">-->
            <!--<button class="btn btn-default fa fa-minus small&#45;&#45;btn" ng-click="vm.smallerSvg()"></button>-->
            <!--<button class="btn btn-default  fa fa-plus enlarge&#45;&#45;btn" ng-click="vm.biggerSvg()"></button>-->
        <!--</div>-->

        <div>
            <circle-tree nodes="data" ng-if="vm.parameter.chartType=='unit'">
            </circle-tree>
            <straight-tree ng-if="vm.parameter.chartType=='source'"  id="customModule" nodes = 'data'  radius = '490'>
            </straight-tree>
        </div>



    </div>
    <md-sidenav id="tree-data-node-detail" md-disable-backdrop class="md-sidenav-right data--base--right--sidebar--info--wrap" md-component-id="tree-data-node-detail" md-whiteframe="4">
        <div ng-include="'./modules/dataBase/template/sideBar/sideBar.html'"></div>
    </md-sidenav>
</div>