@charset "utf-8";
.hiddenTool{
  padding: 0px !important;
  height:0px;
  overflow: hidden;
}
.showTool{
  height:141px;
}
* {
  outline:none;
}
.project-icon-tool{
  opacity: 0.5;
  transition-duration: 0.5s;
}
.project-icon-tool:hover {
  opacity: 1 !important;
}

body {
  font-family: Arial, Verdana, Tahoma, "Hiragino Sans GB", Microsoft YaHei, SimSun, sans-serif;
  font-size: 13px;
  line-height: 1.42857143;
  color: #333;
}

.input--basic--style{
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  &:focus{
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
  }
}

.info--archive--main--content--wrapper{
  max-width: 1920px;
  min-width: 1200px;
  width: auto;
  margin: 0 auto;
  height: 100%;
  position: relative;
  .info--archive--sidebar--wrapper{
    height: 100%;
    width: 178px;
    background: #464646;
    position: relative !important;
    z-index: 70;
    box-shadow: -5px 0 10px  rgba(0,0,0,0.1) inset;
    .header{
      height: 57px;
      min-height: 57px;
      background: #40b98e;
      font-size: 18px;
      border-right: 1px solid #40b98e;
      box-shadow: -5px 0 10px rgba(0, 0, 0, 0.1) inset;
      .md-toolbar-tools{
        height: 57px;
        font-size: 18px;
      }
    }
    .info--archive--sidebar--content{
      border-right: 1px solid #3c4b4b;
      .header--bottom--version{
        font-size: 10px;
        background: #689786;
        height: 25px;
        color: #bac9bf;
      }
      .sidebar--column--wrapper{
        background: transparent;
        color: #bbbbbb;
        padding: 8px 0;
        .flex{
          padding: 8px 0;
        }
        .separate--column--header{
          background: transparent;
          color: #848484;
          .md-subheader-inner{
            border-bottom: 1px solid #505050;
            padding-bottom: 6px;
            padding-left: 30px;
            font-size: 12px;
          }
        }
        .each--column--box{
          border-left: 5px solid #464646;
          &.active {
            background-color: #333333;
            color: #ffffff !important;
            border-left: 5px solid #de6262;
            &:hover{
              cursor: default !important;
              background: #464646 !important;
            }
          }
          &:hover{
            border-color: #848484;
          }
          &__text{
            min-height: 40px;
            .item--img{
              font-size: 20px;
              width: 20px;
              margin-right: 5px;
              text-align: center;
              vertical-align: sub;
            }
          }
          .md-button{
            height: 48px;
            line-height: 48px;
            padding-left: 27px;
          }
        }
      }
    }
  }
  .info--archive--right--content--wrapper{
    position: absolute;
    top: 0;
    left: 178px;
    right: 0;
    bottom: 0;
    .top--head--box{
      height: 57px;
      max-width: 1742px;
      width: auto;
      background: #eaeae2;
      .admin--info{
        float: right;
        height: 57px;
        line-height: 57px;
        margin-right: 5px;
        &__link{
          cursor: pointer;
          text-decoration: none;
          color: #333333;
          font-size: 14px;
          .navbar--admin--icon{
            width: 33px;
            height: 33px;
            border-radius: 50%;
            margin-right: 5px;
          }
        }
      }
    }
    .data--base--sidenav--box{
      //overflow-x: hidden;
      position: relative;
      z-index: 10;
      width: 100%;
      height: calc(100% - 57px);
      border-top: 1px solid #dfe0e1;
      border-left: 1px solid #d7d7d7;
      border-right: 1px solid #f2f2f2;
      //clear: both;
      .data--base--sidenav{
        float: left;
        height: 100%;
        border: 1px solid #d7d7d7;
        .select--data--source--box{
          font-size: 16px;
          padding: 15px 0 10px 25px;
        }
        //data--error background--img
        &.data--error{
          .data--base--wrapper{
            background: #f5f5f5 url(../images/batch-two-level-menu-bg.png) no-repeat 100% 97%;
          }
        }
      }
      .data--base--sidenav--right--box{
        float: left;
        width: calc(100% - 237px);
        padding: 10px 20px;
        .data--filtering--wrapper{
          margin-bottom: 20px;
          .data--filtering--head{
            font-size: 16px;
            margin-bottom: 10px;
            .title{
              display: inline-block;
              margin-right: 5px ;
            }
          }
          .filter--properties--box{
            background: #f5f5f5;
            border-radius: 5px;
            padding: 10px 15px 10px 15px;
            .single--attribute--box{
              display: inline-block;
              width: 12%;
              min-width: 130px;
              margin-right: 1%;
              vertical-align: top;
              &.time--frame{
                float: right;
                width: 33%;
                min-width: 288px;
                margin-right: 0;
                .attribute--value{
                  display: inline-block;
                  width: 46%;
                }
                .select--time{
                }
                .time--frame__sign{
                  position: relative;
                  bottom: 13px;
                  padding: 0 1%;
                }
              }
              .attribute--title{
                display: block;
                padding-bottom: 6px
              }
              .attribute--value{
              //  select within delete operation
                .ui-select-multiple.ui-select-bootstrap .ui-select-match-item{
                  background: #91a8c0;
                  color: #ffffff;
                  margin: 2px 3px 3px 0;
                }
                .ui-select-multiple.ui-select-bootstrap .ui-select-match .close{
                  font-size: 21px;
                  color: #ffffff;
                  opacity: 1;
                  outline: none;
                }
                .ui-select-multiple.ui-select-bootstrap{
                  height: auto;
                  min-height: 34px;
                }
              }
            }
            .search--location--box{
              height: 48px;
              line-height: 48px;
              clear: both;
            }
          }
        }
        .batch--info--box{
          height: 48px;
          line-height: 48px;
          margin-bottom: 10px;
          .batch--info--count{
            display: inline-block;
            vertical-align: sub;
            .title{
              font-size: 16px;
              margin-right: 15px;
            }
            .data--count{
              color: #3B98BE;
              //color: #3a87ad;
            }
          }
        }
      }
    }
  }
  .data--base--wrapper{
    height: 100%;
    width: 235px;
    background: #f5f5f5;
    box-shadow: none;
    .header{
      //height: 55px;
      min-height: 0;
      //background: #eaeae2;
    }
    .data--base--column--wrapper{
      background: transparent;
      color: #ababab;
      padding: 0;
      .flex{
        padding: 8px 0;
      }
      .each--column--box {
        //border: 1px solid #f5f5f5;
        border-right: 5px solid #9f9f9f;
        &.active {
          //background-color: #ffffff;
          color: #696c70 !important;
          border: 1px solid #d7d7d7;
          border-right: none;
          //border-right: 5px solid #3498db;
          background: #ffffff  url(../images/select--data--source--border-bg.jpg) no-repeat top right;
          background-clip: border-box;
          background-origin: border-box ;
        }
        &:hover{
          //border-color: #d7d7d7;
        }
        .md-button{
          padding-left: 23px;
        }
      }
    }
    //.batch--two--level--menu--bg{
    //  position: absolute;
    //  right: 0px;
    //  bottom: 20px;
    //}
  }
}

//projectManage
.project--manage--main--content--wrapper{
  width: 100%;
  height: 100%;
  background: #fafafa;
  .new--project--wrapper{
    width: 100%;
    //Change height
    .new--project--btn--box{
      height: 79px;
      padding-bottom: 8px;
      .new--project--btn{
        margin: 15px 8px;
        padding: 4px 45px;
      }
    }
  }
  .project--manage--data--list--wrapper{
    .card--title--box{
      background: #2D7D9A;
      padding:11px 14px 6px 14px;
      color: #ffffff;
      //width: 184px;
      width: 219px;
      .md-headline{
        font-size: 14px;
        line-height: 24px;
      }
      .md-subhead{
        font-size: 11px;
        color: #cccccc !important;
      }
    }
    .card--actions--btn--box{
      background: #E8EDF1;
      margin: 0;
      padding: 5px 8px 4px 8px;
      font-size: 18px;
    }
    .card--actions--pull--left{
      float: left;
      .icon--button{
        margin: 6px;
        outline: none;
      }
    }
    .card--actions--pull--right{
      float: right ;
      .icon--button{
        padding: 6px;
        outline: none;
      }
    }
    .project--manage--list--img--box{
      height: 121px;
      width: 100%;
      background: #ffffff;
      display: table;
      &__do--center{
        display: table-cell;
        vertical-align: middle;
        text-align: center;
      }
    }
  }
}

//newProjectManage
.new--project--manage--modal{
  width: 715px;
  .new--project--content{
    .new--project--row--box{
      margin-bottom: 30px;
      .new--project--row{
        width: 100%;
        color: #999999;
        padding-bottom: 6px;
        border-bottom: 1px solid #e4e4e4;
        margin-bottom: 10px;
      }
      .attribute--row{
        padding: 10px 13px;
        .single--attribute--box{
          width: 300px;
          margin-right: 10px;
          &__title{
            display: inline-block;
            font-weight: normal;
            width: 85px;
            margin-right: 10px;
            text-align: right;
            margin-bottom: 0;
            vertical-align: baseline;
          }
          &__input{
            display: inline-block;
            width: 200px;
            border-color: #e1e1e1;
          }
          &__select{
            display: inline-block;
            width: 200px;
            border: 1px solid #e1e1e1;
            border-bottom: none;
            border-radius: 4px;
            height: 34px;
            line-height: 29px;
            margin: 0;
            &.ref--rules--short--select{
              width: auto;
              max-width: 150px;
            }
          }
        }
      }
    }
  }
}
.new--project--manage--modal--footer{
  border-top: 1px solid #e4e4e4;
  padding: 20px;
}
.green--btn{
  background: #40B98E !important;
  color: #ffffff !important;
  padding: 0 12px;
  &:hover{
    background: #03ce86 !important;
  }
}
.red--btn{
  background: #E1654F !important;
  color: #ffffff !important;
  padding: 0 12px;
  &:hover{
    background: #de421b !important;
  }
}
//editProjectManage
.edit--project--manage--modal--wrapper{
  width: 970px;
  .edit--project--manage--head-box{
    border-bottom: 1px solid #e4e4e4;
    .edit--project--manage--head--btn{
      font-size: 24px;
      color: #797979;
      width: 80px;
      height: 64px;
      background: #eaeae2;
      border-radius: 0;
      margin-left: -16px !important;
      &:hover{
        background: #eaeae2 !important;
        opacity: 0.8;
      }
    }
    .title{
      color: #797979;
    }
  }
  .edit--project--manage--modal--content{
    padding: 45px;
    .left--content{
      float: left;
      width: 530px;
      padding: 0 80px 0 0;
      border-right: 1px solid #d7d7d7;
      .edit--project--row--box{
        margin-bottom: 40px;
        .edit--project--row{
          width: 100%;
          color: #999999;
          padding-bottom: 4px;
          padding-left: 7px;
          border-bottom: 2px solid #d7d7d7;
          margin-bottom: 15px;
        }
        .attribute--row--box{
          display: block;
          padding: 5px 0;
          width: 100%;
          &__title{
            display: inline-block;
            width: 117px;
            text-align: right;
            margin-right: 20px;
          }
          &__sample{
            color: #40b98e;
            margin-left: 141px;
          }
        }
      }
      .edit--project--manage--modal--footer{
        margin: 30px 0 20px;
      }
    }
    .right--content{
      float: left;
      width: 315px;
      margin-left: 35px;
      .new--project--box{
        height: 246px;
        border-radius: 5px;
        background: #ecf6fb;
        margin: 21px 0 0 0;
        color: #3a87ad;
        border: 1px solid #d0eff5;
        &__head-box{
          padding: 40px 30px 20px 30px;
          .title{
            font-size: 16px;
            //color: #ffffff;
            padding-left: 15px;
          }
        }
        .prompt-content{
          padding: 0 30px 20px;
          color: inherit;
          font-size: 13px;
        }
        &__btn--box{
          text-align: center;
          .new--project--box__btn{
            padding: 2px 30px;
          }
        }
      }
      &.new--project--after{
        .new--project--box{
          height: 214px;
          background: #d9edf7;
          border: 1px solid #bce8f1 ;
          margin-bottom: 30px;
          .prompt-content{
            color: inherit;
          }
        }
        .data--template{
          color: #999999;
          padding-bottom: 4px;
          margin: 0 0 15px 0;
          border-bottom: 2px solid #d7d7d7;
        }
        .data--template--content{
          padding: 10px 0 15px 0;
          border-bottom:1px solid #e4e4e4 ;
          .data--template--pattern{
            margin-right: 13px ;
          }
          .data--attribute--box{
            .attribute--row{
              padding: 4px 0;
              .title{
                display: inline-block;
                width: 80px;
                text-align: right;
                color: #333333;
                margin-right: 5px;
              }
              .attribute-value{
                color: #71767c;
              }
            }
          }
        }
      }
    }
  }
}

//editSelect
.edit--select--modal--wrapper{
  width: 400px !important;
  .attribute--row--box{
    &__title{
      display: inline-block;
      width: 100px;
      text-align: right;
      margin-right: 10px;
    }
    &__select{
      display: inline-block;
      width: 150px;
      border: 1px solid #e1e1e1;
      border-bottom: none;
      border-radius: 5px;
      height: 34px;
      line-height: 29px;
    }
  }
}

//editCustomData
.edit--custom--data--modal--wrapper{
  width: 640px;
  .modal--head--title{
    padding-left: 10px;
  }
  .modal--head--icon{
    position: absolute;
    top: 5px;
    right: 20px;
  }
  .edit--custom--data--modal--content{
    .attribute--row--box{
      margin-bottom: 40px;
      &__header{
        font-size: 16px;
        padding-bottom: 10px;
      }
      &__table{
        td{
          vertical-align: middle;
        }
        .table__th--tr{
          th{
            color: #999999;
            font-weight: normal;
          }
        }
        .add--attribute--btn--td{
          width: 90px;
          text-align: right;
          padding-right: 10px;
        }
        .add--attribute--btn,.delete--attribute--btn{
          display: inline-block;
          color: #ffffff;
          border: none;
          width: 34px;
          height: 34px;
        }
        .add--attribute--btn{
          background: #40b98e;
        }
        .delete--attribute--btn{
          background: #e1654f;
        }
      }
    }
    .edit--custom--data--modal__input--box{
      margin: 0;
      .md-errors-spacer{
        min-height: 0;
      }
    }
    .edit--custom--data--modal__select--box{
      margin: 0;
    }
    .edit--custom--data--modal__input{
      border: 1px solid #e4e4e4;
      border-radius: 5px;
      height: 34px;
      //line-height: 29px;
      margin: 0;
    }
    .edit--custom--data--modal__select{
      border: 1px solid #e4e4e4;
      border-radius: 5px;
      border-bottom: none;
      margin: 0;
      height: 34px;
      //line-height: 29px;
    }
  }
}