@charset "utf-8";
//projectManage
.project--manage--main--content--wrapper{
  width: 100%;
  height: 100%;
  background: #ffffff;
  .new--project--wrapper{
    width: 100%;
    //Change height
    background: #f5f5f5;
    .new--project--btn--wrap{
      height: 95px;
      padding-left: 24px;
      border-bottom: 1px solid #e4e4e4;
      color: #797979;
      .title{
        margin-bottom: 5px;
        line-height: normal;
      }
      .prompt-content{
        font-size: 13px;
      }
      .new--project--btn--box{
        height: 94px;
        line-height: 94px;
        .new--project--btn{
          height: 44px;
          line-height: 44px;
          padding: 0 45px;
        }
      }
      md-divider{
        border-top-color: #e4e4e4;
      }
    }
  }
  .project--manage--data--list--wrapper{
    height: 100%;
    .list--wrap{
      background: #ffffff;
    }
    .project--data--list--card{
      width: 218px;
      float: left;
      transition: 0.3s linear all; -webkit-transition: 0.3s linear all;
    }
    .project--data--list--card.ng-enter {opacity: 0;transform: translateY(30px);}
    .project--data--list--card.ng-enter.ng-enter-active { opacity: 1; }
    .project--data--list--card.ng-leave {opacity: 1;}
    .project--data--list--card.ng-leave.ng-leave-active { opacity: 0; transform: translateY(30px);}
    .card--title--box{
      background: #4F93C5;
      padding:11px 14px 6px 14px;
      color: #ffffff;
      //width: 184px;
      width: 218px;
      .md-headline{
        font-size: 14px;
        line-height: 24px;
      }
      .md-subhead{
        font-size: 11px;
        color: #cccccc !important;
      }
    }
    .card--actions--btn--box{
      background: #E8EDF1;
      margin: 0;
      padding: 5px 8px 4px 8px;
      font-size: 18px;
    }
    .card--actions--pull--left{
      float: left;
      .icon--button{
        margin: 6px;
        outline: none;
      }
    }
    .card--actions--pull--right{
      float: right ;
      .icon--button{
        padding: 6px;
        outline: none;
      }
    }
    .project--manage--list--img--box{
      height: 121px;
      width: 100%;
      background: #ffffff;
      display: table;
      &__do--center{
        display: table-cell;
        vertical-align: middle;
        text-align: center;
      }
    }
  }
}

//projectManage
.archive--policy--prompt--wrap{
  display: inline-block;
  vertical-align: middle;
  width: 264px;
  height: 100%;
  min-height: 178px;
  color: #337ab7;
  background: #ECF6FB;
  padding: 30px 20px;
  margin-left: 10px;
  position: absolute;
  top: 0;
  right: 8px;
  bottom: 0;
  .head{
    font-size: 16px;
    margin-bottom: 10px;
    img{
      margin: 0 10px;
    }
  }
  .prompt{
    padding: 10px 0;

  }
}

//newProjectManage
.new--project--manage--modal{
  width: 715px;
  .new--project--content{
    .new--project--row--box{
      margin-bottom: 30px;
      .new--project--row{
        width: 100%;
        color: #999999;
        padding-bottom: 6px;
        border-bottom: 1px solid #e4e4e4;
        margin-bottom: 10px;
      }
      .attribute--row{
        display: inline-block;
        vertical-align: middle;
        padding: 10px 0;
        .single--attribute--box{
          display: inline-block;
          vertical-align: middle;
          //width: 320px;
          //margin-right: 10px;
          height: 34px;
          line-height: 34px;
          &__title{
            display: inline-block;
            font-weight: normal;
            width: 110px;
            margin-right: 10px;
            text-align: right;
            margin-bottom: 0;
            vertical-align: middle;
            line-height: normal;
          }
          &__value{
            display: inline-block;
            vertical-align: middle;
            //vertical-align: 1px;
            &-input{
              display: inline-block;
              vertical-align: middle;
              width: 200px;
            }
            &-select{
              display: inline-block;
              vertical-align: middle;
              width: 200px;
              &.ref--rules--short--select{
                width: auto;
                max-width: 150px;
              }
            }
          }
        }
      }
    }
  }
}
.new--project--manage--modal--footer{
  border-top: 1px solid #e4e4e4;
  padding: 20px;
}

//dataModule
.data--module--new--prompt--wrap{
  width: 100%;
  min-width: 850px;
  height: 100%;
  position: relative;
  //padding: 0 15px;
  .data--module--new--prompt--box{
    padding: 0 15px;
    height: 100%;
  }
  .new--prompt--box--wrap{
    height: 100%;
  }
  .data--module--content--wrap{
    height: 100%;
    position: relative;
  }
  .new--prompt--box{
    color: #337ab7;
    background: #ECF6FB;
    padding: 20px;
    margin-top: 20px;
    &__head{
      font-size: 16px;
      img{
        margin: 0 7px;
      }
    }
    .prompt-content{
      padding: 10px 0;
    }
  }
  .new--prompt__btn--box{
    text-align: center;
    font-size: 18px;
    color: #e4e4e4;
    margin-top: 90px;
    .title--content{
      padding: 15px 0;
    }
    button{
      padding: 4px 40px;
      font-size: 13px;
    }
  }
}
.rule--set--re--rules--wrap{
  display: inline-block;
  vertical-align: middle;
  .rule--Property--box{
    display: inline-block;
    position: relative;
    .delete--btn{
      min-width: inherit;
    }
  }
}
.rule--set--add--rule--wrap{
  display: inline-block;
  vertical-align: middle;
  position: relative;
}
.rule--set--add--rule--box{
  height: auto;
  min-height: 187px;
  width: 100%;
}
.auto--height{
  height: auto !important;
}

.add--file--name--modal--wrapper{
  width: 460px;
  .add--file--name--modal--content{
    .attribute--row--box{
      margin-bottom: 5px;
      &__title{
        display: inline-block;
        vertical-align: middle;
        width: 120px;
        text-align: right;
        margin-right: 10px;
      }
      &__value{
        display: inline-block;
        vertical-align: middle;
        width: 220px;
      }
    }
  }
  .add--file--name--modal--footer{
    padding: 20px;
  }
}


//editCustomData
.edit--custom--data--modal--wrapper{
  width: 640px;
  &.lg-modal{
    width: 800px;
  }
  .modal--head--title{
    padding: 0 10px;
  }
  .modal--head--icon{
    position: absolute;
    top: 10px;
    right: 20px;
  }
  .edit--custom--data--modal--content{
    .attribute--row--box{
      margin-bottom: 40px;
      &__header{
        font-size: 16px;
        padding-bottom: 10px;
      }
      &__table{
        color:  #999999;
        td{
          vertical-align: middle;
        }
        .table__th--tr{
          background: #4F93C5;
          color: #fff;
          th{
            padding: 11px 8px;
            font-weight: normal;
          }
        }
        .add--attribute--btn--td{
          width: 90px;
          text-align: right;
          padding-right: 10px;
        }
        .add--attribute--btn,.delete--attribute--btn{
          display: inline-block;
          color: #ffffff;
          border: none;
          width: 34px;
          height: 34px;
        }
        .add--attribute--btn{
          background: #40b98e;
        }
        .delete--attribute--btn{
          background: #e1654f;
        }
        &>tbody>tr>td, &>tbody>tr>th{
          //border: none;
          //padding: 4px 4px 4px 8px;
          padding: 11px 8px;
        }
        .input--data--tbody>tr>td{
          border: none;
          padding: 4px 4px 4px 8px;
        }
      }
    }
    .edit--custom--data--modal__input--box{
      margin: 0;
      .md-errors-spacer{
        min-height: 0;
      }
    }
    .edit--custom--data--modal__select--box{
      margin: 0;
    }
    .edit--custom--data--modal__input{
      //border: 1px solid #e4e4e4;
      //border-radius: 5px;
      //height: 34px;
      ////line-height: 29px;
      //margin: 0;
    }
    .edit--custom--data--modal__select{

    }
  }
}



.project-manage-delete-alert-modal-wrapper{
  width: 460px;
  .project-manage-delete-alert-modal-footer{
    padding: 20px;
  }
}

//newProjectAlert
.new-project-alert-modal-wrapper{
  width: 454px;
  height: 370px;
  padding: 30px;
  .new-project-alert-icon-box{
    text-align: center;
  }
  .new-project-alert-prompt{
    text-align: center;
    font-size: 36px;
  }
  .success--tips{
    text-align: center;
    font-size: 16px;
    color: #999999;
    padding: 17px 0;
  }
  .btn-box{
    text-align: center;
    font-size: 15px;
  }
}



//editProjectManage

.edit--project--manage--wrapper{
  padding: 0 8px;
  &.data--module{
    height: calc(100% - 87px);
    overflow: auto;
    padding: 0;
    margin-right: -15px;
    .bigger--map--box{
      position: absolute;
      top: 100px;
      left: 7px;
      .btn{
        color: #797979;
        display: block;
        padding: 4px 9px;
        margin-bottom: 5px;
        &:last-child{
          margin-bottom: 0;
        }
      }
    }
  }
  .base--info--content{

    //float: left;
    //width: 530px;
    //padding: 0 80px 0 0;
    //border-right: 1px solid #d7d7d7;
    &.rule--set{
      min-width: 900px;
    }
    .edit--project--row--box{
      margin-bottom: 40px;
      .edit--project--row{
        width: 100%;
        color: #999999;
        padding-bottom: 4px;
        padding-left: 7px;
        border-bottom: 2px solid #d7d7d7;
        margin-bottom: 15px;
      }
      .rule--set--content--wrap{
        height: auto;
        width: 100%;
        min-height: 178px;
        position: relative;
      }
      .attribute--wrapper{
        display: inline-block;
        vertical-align: middle;
        width: 100%;
        background: #fafafa;
        padding: 15px 0;
        margin: 0 8px;
        .attribute--row--box{
          display: block;
          margin: 5px 0;
          width: 100%;
          height: 34px;
          line-height: 34px;
          &__title{
            display: inline-block;
            vertical-align: middle;
            width: 137px;
            text-align: right;
            margin-right: 20px;
          }
          &__value{
            display: inline-block;
            vertical-align: middle;
            width: 200px;
            &-input{
              display: inline-block;
              vertical-align: 1px;
            }
          }
          &__sample{
            color: #40b98e;
            margin-left: 141px;
          }
          &__select{
            display: inline-block;
            vertical-align: 1px;
            width: 100%;
          }
          &.select{
            height: 42px;
            line-height: 42px;
          }
        }
        //projectManage
        &.rule--set{
          width: calc(100% - 290px);
          margin-right: 0;
          height: 100%;
          min-height: 178px;
        }
      }

    }
    .edit--project--manage--footer{
      margin: 30px 0 20px;
    }
  }
  .right--content{
    float: left;
    width: 315px;
    margin-left: 35px;
    .new--project--box{
      height: 246px;
      border-radius: 5px;
      background: #ecf6fb;
      margin: 21px 0 0 0;
      color: #3a87ad;
      border: 1px solid #d0eff5;
      &__head-box{
        padding: 40px 30px 20px 30px;
        .title{
          font-size: 16px;
          //color: #ffffff;
          padding-left: 15px;
        }
      }
      .prompt-content{
        padding: 0 30px 20px;
        color: inherit;
        font-size: 13px;
      }
      &__btn--box{
        text-align: center;
        .new--project--box__btn{
          padding: 2px 30px;
        }
      }
    }
    &.new--project--after{
      .new--project--box{
        height: 214px;
        background: #d9edf7;
        border: 1px solid #bce8f1 ;
        margin-bottom: 30px;
        .prompt-content{
          color: inherit;
        }
      }
      .data--template{
        color: #999999;
        padding-bottom: 4px;
        margin: 0 0 15px 0;
        border-bottom: 2px solid #d7d7d7;
      }
      .data--template--content{
        padding: 10px 0 15px 0;
        border-bottom:1px solid #e4e4e4 ;
        .data--template--pattern{
          margin-right: 13px ;
        }
        .data--attribute--box{
          .attribute--row{
            padding: 4px 0;
            .title{
              display: inline-block;
              width: 80px;
              text-align: right;
              color: #333333;
              margin-right: 5px;
            }
            .attribute-value{
              color: #71767c;
            }
          }
        }
      }
    }
  }
}

//editSelect
.edit--select--modal--wrapper{
  width: 400px !important;
  .attribute--row--box{
    &__title{
      display: inline-block;
      width: 100px;
      text-align: right;
      margin-right: 10px;
    }
    &__select{
      display: inline-block;
      width: 150px;
    }
  }
}

.loading{

}

//basic Data
.basic--data--show--wrap{
  min-width: 850px;
  padding: 0 15px;
}

/***************************** Dropzone Styling *****************************/
.dndPlaceholder {
  background-color: #ddd !important;
  display: block;
  min-height: 42px;
  float:left;
  width:100px;
}
.dndDragging {
  opacity: 0.7;
}

.dndDraggingSource {
  opacity: 0.5;
}
.item {
  background-color:#fff;
  display: block;
  float: left;
  width: 32%;
  min-height: 50px;
  border:1px solid;
  margin: 0 1% 5px 0;
}
.file {
  background-color:#fff;
  display: block;
  float: left;
  width: 98%;
  min-height: 50px;
  border:1px solid;
  margin: 0 0 5px 0;
}
.attr-file{
  background-color:transparent;display: inline-block;
  vertical-align: middle;padding:5px 0 5px 30px;
  float: left;position: relative;width: 98%;min-height: 30px;line-height: normal;
}
.attr-item{
  background-color:transparent;display: inline-block;
  vertical-align: middle;padding:5px 0 5px 30px;
  float: left;position: relative;width: 32%;height: 30px;line-height: normal;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

//moduleTemplate
.module--Template--wrap{
  width: 100%;
  height: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  margin: 15px 0;
  padding-left: 15px;
  position: relative;
  .models--list--out--wrap{
    height: 100%;
  }
  .models--list--wrap{
    position: absolute;
    top: 0;
    //right: 23px;
    right: 0;
    bottom: 0;
    width: 286px;
    padding-right: 5px;
    overflow-y: auto;
    .models--list--box{
      //padding: 20px 0 20px 20px;
      padding: 15px 0 20px 10px;
      background: #f2f2f0;
      border-radius: 4px;
      button{
        display: block;
        margin-bottom: 5px;
      }
      ul{
        list-style-type: none;
        padding-left: 30px;
        li{
          padding: 2px 0;
        }
      }
      .angular-ui-tree-nodes{
        padding-left: 20px;
        &:first-child{
          padding-left: 0;

        }
      }
    }
  }
  .module--Template--wrap__show-wrap{
    width: 100%;
    height: 100%;
    padding-right: 296px;
    .module--Template--wrap__show-box{
      padding-right: 15px;
      height: 100%;
      .operation--btn--box{
        text-align: right;
        .blue--btn{
          margin: 0;
        }
      }
      .template--configure--box{
        width: 100%;
        height: calc(100% - 60px);
        overflow: auto;
        margin: 0;
        margin-top: 25px;
        padding-right: 5px;
        &__head{
          .panel-title{
            display: inline-block;
            .menu--edit{
              display: inline-block;
              padding: 5px 0;
              &:hover{
                text-decoration: none;
              }
            }
          }
        }
        &__body{
          .configure--body--box{
            min-height: 100px;
            padding: 0;
            .single--configure--info{
              min-height: 40px;
              height: 40px;
              line-height: 40px;
              border: none;
              background: #f7f7f7;
              padding-left: 10px;
              padding-right: 20px;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              position: relative;
              &__remove{
                color:red;
                position: absolute;
                top: 13px;
                right: 7px;
                opacity: 1;
                &:hover{
                  opacity: .7;
                }
              }
            }
          }
        }
      }
    }
  }
}
.show--results-wrap{

  width: 100%;
  /* height: 100%; */
  overflow: auto;
  margin: 0;
  .show--results-box{
    border: 1px solid #f1f3f2;
    //background: #f1f3f2;
    margin-bottom: 10px;
    padding: 15px 0;
    &:last-child{
      margin-bottom: 0;
    }
    &:first-child{
      margin-bottom: 10px;
    }
    .head--box{
      .head--content{
        display: inline-block;
        padding: 5px 0 10px 30px;
        font-size: 14px;
      }
    }
    .show--results--body{
      min-height: 100%;
      padding: 0;
    }
  }
}

//previewTemplateForm
.process--info--wrap{
  width: 100%;
  .process--info--box{
    width: 832px;
    list-style-type: none;
    padding: 15px;
    margin: 0 auto;
    //border: 1px solid #e9e9e9;
    font-size: 0;
    margin-bottom: 15px;
    text-align: center;
    .process--node--box{
      display: inline-block;
      text-align: center;
      width: 160px;
      height: 136px;
      position: relative;
      &:last-child{
        &:after{
          content:""!important;
        }
      }
      &._first{
        background: transparent url(../images/process-first.png) no-repeat center right;
        position: relative;
        float:left
      }
      &.first{
        background: transparent url(../images/process-first.png) no-repeat center right;
        position: relative;
        float: right;
        &:after{
          content:"\27A4";
          font-size: 14px;
          position: absolute;
          bottom: -12px;
          left: 70px;
          z-index: 99;
          -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
          color: #1e8a38;

        }
      }
      &._middle{
        background: transparent url(../images/process--middle.png) no-repeat center;
        float: right;
      }
      &.middle{
        float: left;
        background: transparent url(../images/process--middle.png) no-repeat center;
      }
      &._last{
        background: transparent url(../images/process-last.png) no-repeat center left;
        position: relative;
        float: right;
      }
      &.last{
        float: left;
        background: transparent url(../images/process-last.png) no-repeat center left;
        position: relative;
        &:after{
          content:"\27A4";
          font-size: 14px;
          position: absolute;
          bottom: -12px;
          right: 73px;
          z-index: 99;
          -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
          color: #1e8a38;
        }
      }
      &.only{
        background: transparent url(../images/process-only.png) no-repeat center;
      }
      .head{
        position: absolute;
        top: 30px;
        width: 100%;
        text-align: center;
        font-size: 13px;
        color: #777777;
      }
      .description{
        position: absolute;
        top: 85px;
        width: 100%;
        text-align: center;
        font-size: 12px;
        color: #999999;
      }
    }
    .process--node--line{
      display: inline-block;
      width: 15px;
      height: 136px;
      background: transparent url(../images/process--line--row.png) repeat-x center;
    }
    .process--line--col-right{
      display: inline-block;
      width: 100%;
      height: 60px;
      background: transparent url(../images/process--line--col.png) repeat-y 767px;
      margin-bottom: 5px;
      position: relative;
      i{
        position: absolute;
        bottom: -5px;
        font-size: 16px;
        left: 773px;
        color: #1e8a38;
      }
    }
    .process--line--col-left{
      display: inline-block;
      width: 100%;
      height: 60px;
      background: transparent url(../images/process--line--col.png) repeat-y 63px;
      margin-bottom: 5px;
      position: relative;
      i{
        position: absolute;
        bottom: -5px;
        font-size: 16px;
        left: 69px;
        color: #1e8a38;
      }
    }
  }
}

.preview--template--form--modal{
  width: 882px;
  .md-toolbar-tools{
    min-height: 110px;
    .close{
      position: absolute;
      top: 22px;
      right: 15px;
    }
  }
  .preview--template--form--head{
    display: table;
    img{
      display: table-cell;
      width: 64px;
    }
    .title--box{
      display: table-cell;
      vertical-align: middle;
      padding-left: 15px;
    }
    .title{
      font-size: 13px;
    }
    .number{
      font-size: 16px;
    }
  }
}
.preview--template--form--modal__content{
  padding: 0 16px 26px 16px !important;
}
.preview--template--form--modal__table{
  color:  #999999;
  width: 100%;
  tr{
    .serial--number{
      display: inline-block;
      vertical-align: middle;
      padding-right: 10px;
    }
    &.even--number{
      background: #F2F2F2;
    }
    td{
      padding: 4px;
    }
  }
  .table__th--tr{
    background: #4F93C5;
    color: #fff;
    th{
      padding: 11px 8px;
      font-weight: normal;
    }
  }
}

