<md-toolbar class="md-theme-indigo right--sidebar--info--head">
    <div class="md-toolbar-tools">
        <div class="head">详细信息</div>
        <button class="close" ng-click="vm.closeSideBar()">
            <span class="glyphicon glyphicon-remove"></span>
        </button>
    </div>
</md-toolbar>

<md-content  class="right--sidebar--info--content">
   <div>
       <label >业务单位</label>
       <span>杭州使发改委</span>
   </div>
    <div>
        <label >业务事项</label>
        <span>企业项目投资核准</span>
    </div>
    <div>
        <label >数据源</label>
        <span>杭州使发改委</span>
    </div>
    <div>
        <label >总库</label>
        <span>2017 11 23</span>
    </div>
    <div>
        <label >记录数据</label>
        <span>54.32</span>
    </div>
    <div>
        <label >归档数据量</label>
        <span>432MB</span>
    </div>
    <md-button class="pull-right md-raised green--btn" ng-click="vm.checkData($event)">浏览数据</md-button>

</md-content>