<md-toolbar class="md-theme-indigo data--base--right--sidebar--info--head">
    <div class="md-toolbar-tools">
        <button type="button" class="close" ng-click="vm.closeSideBar()" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
        <div class="head" translate="MODULES_BATCH_DETAILED_INFORMATION">详细信息
        </div>

    </div>
</md-toolbar>

<md-content  class="data--base--right--sidebar--info--content">
    <div ng-show="vm.loadingDetail" translate="MODULES_DATABASE_LOADING">加载数据中...</div>
    <div ng-show="!vm.loadingDetail">
        <div class="attr--type--box" ng-show="vm.entity.unitName">
            <label class="title" translate="MODULES_BATCH_BUSINESS_UNIT">业务单位</label>
            <span class="attr--value">{{vm.entity.unitName}}</span>
        </div>
        <div class="attr--type--box">
            <label class="title" translate="MODULES_DATABASE_BUSINESS_MATTERS">业务事项</label>
            <span class="attr--value">{{vm.entity.itemName}}</span>
        </div>
        <div class="attr--type--box" ng-show="vm.entity.systemName">
            <label class="title" translate="MODULES_DATABASE_DOCKING_SYSTEM">对接系统</label>
            <span class="attr--value">{{vm.entity.systemName}}</span>
        </div>
        <div class="attr--type--box">
            <label class="title" translate="MODULES_DATABASE_DATA_UPDATE_TIME">数据更新时间</label>
        <span class="attr--row">
            <span class="head" translate="MODULES_DATABASE_DATA_SOURCE">此数据源</span>
            <span >
                {{vm.entity.thisUpdateDate | date:'yyyy.MM.dd HH:mm:ss'}}
            </span>
        </span>
        <span class="attr--row">
            <span class="head" translate="MODULES_DATABASE_GENERAL_LIBRARY">总库</span>
            <span >
                {{vm.entity.updateDate | date:'yyyy.MM.dd HH:mm:ss'}}
            </span>
        </span>
        </div>
        <div class="attr--type--box">
            <label class="title" translate="MODULES_DATABASE_TRAFFIC">业务量</label>
            <div class="attr--row">
                <span class="head" translate="MODULES_DATABASE_RECORD_QUANTITY">记录数量</span>
                <span >
                    {{vm.entity.count}}
                </span>
            </div>
            <div class="attr--row">
                <span class="head" translate="MODULES_DATABASE_ARCHIVED_DATA">归档数据量</span>
                <span >
                    {{vm.entity.capacity}}MB
                </span>
            </div>
        </div>
    </div>
</md-content>

<div class="browse--data--box" ng-show="!vm.loadingDetail">
    <md-button class="green--btn " ng-click="vm.checkData($event)" translate="MODULES_DATABASE_BROWSE_DATA">浏览数据</md-button>
</div>