<div>
    <div ngf-select="uploadFiles($files,true)" ngf-drop="uploadFiles($files,true)"  ng-model="oddFiles"
         ngf-multiple="false"
         accept="image/gif, image/png, image/jpeg"

         style="background: #F8F8F8;
            border: 5px dashed #DDD;
            width: 110px;
            height: 110px;
            line-height: 100px;
            text-align: center;"
         class="drop-box" ngf-drop-available="true">
        <span ng-show="!files[0]" translate="MODULES_BATCH_UPLOAD_FILES" style="cursor: pointer">选择文件</span>
        <img style="width: 50px;height: 50px;border-radius: 50px;" ngf-src="!files[0].$error && files[0]">
    </div>

    <!--<md-button  class="button" ngf-select="uploadFiles($files,true)" accept="image/*" ng-model="oddFiles" ngf-multiple="false">选择头像</md-button>-->

    <table  class="table attribute--row--box__table" ng-show="files.length > 0 && showProcess">
        <thead>
        <tr class="table__th--tr">
            <th>序号</th>
            <th>文件名</th>
            <th>类型</th>
            <th>大小</th>
            <th style="width: 150px">进度</th>
            <th>状态</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="file in files" >
            <td>{{$index}}</td>
            <td>{{file.name}}</td>
            <td>{{file.type}}</td>
            <td>{{file.size | formatByte}}</td>
            <td>
                <uib-progressbar  class="progress-striped active" type="warning" value="file.progress" ng-show="file.status == 2">
                    {{file.progress}}%
                </uib-progressbar>
            </td>
            <td>{{file.status == 2 ? '上传中' : file.status == 1 ? '上传成功' : '上传失败'}}</td>
            <td>
                <a ng-click="file.upload.abort()" ng-show="file.status == 2">终止</a>
                <a ng-click="uploadFiles([file],true)" ng-show="file.status == 0">重新开始</a>
                <!--<a ng-click="file.upload.pause()">暂停</a>-->
            </td>
        </tr>
        </tbody>
    </table>
</div>
