<div class="anim-slide-left data--module--new--prompt--wrap">
    <div aria-label="customModule" ng-show="vm.afterLoad">
        <div ng-show="vm.versionList.length == 0">
            <div class="new--prompt--box">
                <div class="new--prompt--box__head">
                    <img src="images/edit--project--manage--modal--new.png" alt=""/>
                    还需要创建数据模板
                </div>
                <div class="prompt-content">
                    业务模板能够帮助您梳理业务流程，建立业务归档信息，并根据模板规则将业务信息填入到归档数据模型对应的位置上。
                </div>
            </div>
            <div class="new--prompt__btn--box">
                <img src="images/create--data--template--icon.png" alt=""/>
                <h4 class="title--content">该项目还没有定义数据模板</h4>
                <md-button class="red--btn"  ng-click="vm.versionList.push({versionNo:1.0});vm.currentVesion=1.0">
                    创建数据模版
                </md-button>


            </div>
        </div>
        <div ng-show="vm.versionList.length != 0">
            <md-toolbar class="md-menu-toolbar edit--project--manage--head-box">
                <div class="md-toolbar-tools">
                    <md-button class="md-icon-button edit--project--manage--head--btn" ng-click="vm.cancel()">
                        <a ui-sref="infoArchives.projectManage" class="fa fa-angle-left"></a>
                    </md-button>
                    <a  ui-sref="infoArchives.projectManage" class="project--manage--head">项目管理</a>
                    <span> > </span>
                    <span class="current--column">行政审批系统</span>
                    <span> | </span>
                    <span class="current--column">数据模版</span>
                    <div class="save--template--box">
                        <div class="current--vesion">
                            <span>版本号</span><md-select placeholder="1.0" class="current--vesion__select" ng-model="vm.currentVesion" ng-change="vm.getModuleInfo()">
                                <md-option ng-value="versionList.id" ng-repeat="versionList in vm.versionList">{{versionList.versionNo}}</md-option>
                            </md-select>
                        </div>
                        <md-button ng-if="vm.moduleEditAble" class="green--btn" ng-disabled="vm.loading" ng-click="vm.editProject($event)">
                            保存模版
                        </md-button>
                    </div>
                </div>
            </md-toolbar>

            <form class="edit--project--manage--wrapper" >
                <div class="two--px--line"></div>
                <md-progress-linear ng-show="vm.loading" md-mode="indeterminate"></md-progress-linear>
                <div>
                    <div class="md-dialog-content">
                        <form name="newProject" action="">
                            <div layout-gt-sm="row" id="container" >
                                <collapsible-tree style="position:relative;overflow: scroll;height: 787px;width: 100%;"  id="customModule" nodes = 'nodes' width = '200' height = '200' radius = '490' edit-able="vm.moduleEditAble">
                                </collapsible-tree>
                            </div>
                        </form>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div ng-show="!vm.afterLoad">
    正在加载...
    </div>

</div>