<md-dialog aria-label="Mango">
    <div class="project-manage-delete-alert-modal-wrapper">
        <md-toolbar class="md-menu-toolbar">
            <div class="md-toolbar-tools">
                <h2 class="modal--head--title">{{vm.title}}</h2>
                <span flex></span>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
                <span>{{vm.content}}</span>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row" class="project-manage-delete-alert-modal-footer">
            <md-button  ng-disabled="vm.loading" ng-click="vm.cancel()" translate="MODULES_PROJECTMANAGE_CANCEL">
                取消
            </md-button>
            <md-button  ng-disabled="vm.loading" ng-click="vm.confirm()" class="green--btn" translate="MODULES_PROJECTMANAGE_CONFIRM">
                确定
            </md-button>
        </md-dialog-actions>
    </div>
</md-dialog>