<md-dialog aria-label="Mango" class="new--project--manage--modal">
    <form ng-cloak
          name="newProject"
          novalidate
          ng-submit="newProject.$valid?vm.newProject():vm.newProject.submit=true"
    >
        <md-toolbar class="md-menu-toolbar">
            <div class="md-toolbar-tools">
                <h2>新建项目</h2>
                <span flex></span>
                <button type="button" class="close" ng-click="vm.cancel()" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
        </md-toolbar>
        <md-progress-linear ng-show="vm.loading" md-mode="indeterminate"></md-progress-linear>
        <md-dialog-content class="new--project--content">
            <div class="md-dialog-content ">
                <div class="new--project--row--box">
                    <div class="new--project--row">基本信息</div>
                    <div layout-gt-sm="row" class="attribute--row">
                        <div class="single--attribute--box">
                            <span class="single--attribute--box__title">宽度</span><div class="single--attribute--box__value">
                            <input ng-model="vm.entity.width"
                                   class="form-control single--attribute--box__value-input"
                                   name="projectName"
                            >
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row" class="new--project--manage--modal--footer">
            <span flex></span>
            <md-button ng-disabled="vm.loading" ng-click="vm.cancel()">
                取消
            </md-button>
            <md-button ng-disabled="vm.loading" type="submit" class="green--btn">
                确定
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>

