<div class="anim-slide-left service--watch--wrap">
   <div style="width : 100%;min-height: 200px;">

       <div style="width: 100%;float: left">
           <md-select ng-model="vm.parameter.year"
                      style="float: left;
                    width: 100px;
                    margin-right: 20px;"
           >
               <md-option ng-value="2017" >2017</md-option>
               <md-option ng-value="2016" >2016</md-option>
               <md-option ng-value="2015" >2015</md-option>
               <md-option ng-value="'all'" >所有年度</md-option>
           </md-select>

           <md-select ng-model="vm.parameter.system"
                      style="float: left;
                    width: 100px;
                    margin-right: 20px;"
           >

               <md-option ng-value="'all'" >所有系统</md-option>

           </md-select>
       </div>
       <div id="container" style="min-width:400px;height:400px"></div>
   </div>

    <div style="width: 30%;float: left;padding: 10px 10px;margin: 50px 50px;">
        <div id="topTen" style="min-width:400px;height:400px"></div>
    </div>
    <div style="width: 25%;float: left;padding: 10px 10px;margin: 50px 50px;">
        <h3>法人服务主题分布</h3>
        <div>
            <div id="legonPerson" style="min-width:400px;height:400px"></div>

        </div>

    </div>

    <div style="width: 25%;float: left;padding: 10px 10px;margin: 50px 50px;">
        <h3>个人事项服务主题分布</h3>
        <div>
            <div id="personalService" style="min-width:400px;height:400px"></div>
        </div>
    </div>
</div>


