@charset "utf-8";
.preview--record--wrap{
  width: auto !important;
  min-width: 780px;
  max-width: 950px;
  height: 100%;
  margin: 0 auto;
  background: #fdfdfd;
  box-shadow: 0 7px 8px -4px rgba(0, 0, 0, 0.1),0 17px 17px 2px rgba(0, 0, 0, 0.1);
  overflow: auto;
  .toolbar--tools--box{
    background: #4F93C5;
    min-height: 88px !important;
    color: #ffffff;
  }
  &__content{
    .show--results-wrap{
      overflow: hidden;
      .show--results-box{
        margin: 0 30px 10px 30px;
      }
    }
  }
}