<div  class="hs-ui-grid-cell-contents hs-ui-grid-cell add-background-colors clearfix" >
    <div class="hidd">
        <span style="margin-right:20px; "  class="glyphicon glyphicon-eye-open" ng-click="grid.appScope.vm.checkDetail(row.entity.id,$event)"></span>
        <span  ng-if="row.entity.batchStatus == 5" class="glyphicon glyphicon-tasks" ng-click="grid.appScope.vm.checkDetailData(row.entity,$event)"></span>
    </div>
</div>
<style>
    .hidd{
        transition: 0.1s linear all; -webkit-transition: 0.3s linear all;
        transform: translateX(250px);
    }
    .ui-grid-row:hover .hidd{
        transition: 0.1s linear all; -webkit-transition: 0.3s linear all;
        transform: translateX(0px);
    }
</style>