<form
        novalidate
        name="userInfoForm"
        ng-submit="userInfoForm.$valid?vm.saveUser():vm.userInfoForm.submit=true"
        class="edit--current--user--wrap"
>
    <md-toolbar class="md-theme-indigo right--sidebar--info--head">
        <div class="md-toolbar-tools">
            <div class="head" translate="MODULES_USERMANAGE_EDIT_USER">编辑用户</div>
        </div>
    </md-toolbar>
    <md-content  class="right--sidebar--info--content">
        <!--<div class="column&#45;&#45;header" translate="MODULES_USERMANAGE_USER_INFO">用户信息</div>-->
        <div class="column--content--box">
            <div class="row--box">
                <label class="attr--name"><span translate="MODULES_USERMANAGE_NUMBER">编号</span>：</label>
                <span>{{vm.editUserForm.id}}</span>
            </div>
            <div class="row--box">
                <label class="attr--name"><span class="text-danger">*</span><span translate="MODULES_LOGIN_USER_NAME">登录名</span>：</label>
                <input type="text" class="form-control attr--value"
                       name="loginName"
                       required
                       hs-form-message
                       hs-form-message-show="vm.userInfoForm.submit"
                       hs-form-message-template="userInfoForm_loginName.html"
                       ng-model="vm.editUserForm.loginName">
            </div>
            <div class="row--box">
                <label class="attr--name"><span class="text-danger">*</span><span translate="MODULES_USERMANAGE_PASSWORD">密码</span>：</label>
                <input type="password"
                       name="password"
                       required
                       hs-form-message
                       hs-form-message-show="vm.userInfoForm.submit"
                       hs-form-message-template="userInfoForm_password.html"
                       class="form-control attr--value" ng-model="vm.editUserForm.password">
            </div>
            <!--<div class="row&#45;&#45;box">-->
                <!--<label class="attr&#45;&#45;name"><span translate="MODULES_USERMANAGE_JOB_NUMBER">工号</span>：</label>-->
                <!--<span>{{vm.editUserForm.code}}</span>-->
            <!--</div>-->
            <div class="row--box">
                <label class="attr--name"><span translate="MODULES_USERMANAGE_NAME">姓名</span>：</label>
                <input type="text" class="form-control attr--value" ng-model="vm.editUserForm.name">
            </div>
            <div class="row--box">
                <label class="attr--name"><span translate="MODULES_USERMANAGE_EMAIL">邮箱</span>：</label>
                <input name="email"
                       type="email"
                       hs-form-message
                       hs-form-message-show="vm.userInfoForm.submit"
                       hs-form-message-template="userInfoForm_email.html"
                       class="form-control attr--value"
                       ng-model="vm.editUserForm.email"
                >
            </div>
            <div class="row--box">
                <label class="attr--name"><span translate="MODULES_USERMANAGE_PHONE">电话</span>：</label>
                <input type="text"
                       name="phone"
                       class="form-control attr--value" ng-model="vm.editUserForm.phone"
                >
            </div>
            <div class="row--box">
                <label class="attr--name"><span translate="MODULES_USERMANAGE_PHONE_NUMBER">手机</span>：</label>
                <input name="mobile"
                       type="text"
                       class="form-control attr--value" ng-model="vm.editUserForm.mobile">
            </div>
            <!--<div class="row&#45;&#45;box">-->
            <!--<label class="attr&#45;&#45;name">用户状态：</label>-->
            <!--{{vm.editUserForm.userState == 0 ? '活动'}}-->
            <!--</div>-->
            <!--<div class="row&#45;&#45;box">-->
            <!--<label class="attr&#45;&#45;name">冻结原因：</label>-->
            <!--<input type="text" class="form-control attr&#45;&#45;value" ng-model="vm.editUserForm.lockReason">-->
            <!--</div>-->
            <div class="row--box">
                <label class="attr--name"><span translate="MODULES_PROJECTMANAGE_CREATOR">创建者</span>：</label>
                <span class="attr--value">{{vm.editUserForm.creator}}</span>
            </div>
            <div class="row--box">
                <label class="attr--name"><span translate="MODULES_BATCH_CREATE_DATE">创建时间</span>：</label>
                <span class="attr--value">{{vm.editUserForm.createDate | date:'yyyy.MM.dd'}}</span>
            </div>
            <div class="row--box">
                <label class="attr--name"><span translate="MODULES_USERMANAGE_EDITOR">修改者</span>：</label>
                <span class="attr--value">{{vm.editUserForm.modifier}}</span>
            </div>
            <div class="row--box">
                <label class="attr--name"><span translate="MODULES_BATCH_MODIFY_DATE">修改时间</span>：</label>
                <span class="attr--value">{{vm.editUserForm.modifyDate | date:'yyyy.MM.dd'}}</span>
            </div>
            <div class="row--box user--avatar">
                <!--<img style="width: 50px;height: 50px;border-radius: 50px;" class="navbar&#45;&#45;admin&#45;&#45;icon" src="{{vm.userImgSrc}}" alt=""/>-->
                <label class="attr--name"><span translate="MODULES_BATCH_USER_AVATAR">用户头像</span>：</label>
                <common-upload-file show-process="false" img-src="vm.userImgSrc" files="vm.files" class="attr--value upload--head"></common-upload-file>
            </div>

        </div>
    </md-content>
    <div class="footer--operation--box">
        <md-button class="md-ink-ripple" ng-click="vm.close()"  translate="MODULES_PROJECTMANAGE_CANCEL">取消</md-button>
        <md-button class="green--btn" type="submit"  translate="MODULES_PROJECTMANAGE_SAVE">保存</md-button>
    </div>
</form>
<script type="text/ng-template" id="userInfoForm_loginName.html" >
    <div ng-show="vm.userInfoForm.submit">
        <div  ng-show="userInfoForm.loginName.$error.required" >
            <div hs-form-message-chrome-bubble  >
                <span ><span translate="MODULES_PROJECTMANAGE_PLEASE_FILL_IN">请填写</span><span translate="MODULES_LOGIN_USER_NAME">登录名</span></span>
            </div>
        </div>
    </div>
</script>
<script type="text/ng-template" id="userInfoForm_password.html" >
    <div ng-show="vm.userInfoForm.submit">
        <div  ng-show="userInfoForm.password.$error.required" >
            <div hs-form-message-chrome-bubble  >
                <span ><span translate="MODULES_PROJECTMANAGE_PLEASE_FILL_IN">请填写</span><span translate="MODULES_USERMANAGE_PASSWORD">密码</span></span>
            </div>
        </div>
    </div>
</script>
<script type="text/ng-template" id="userInfoForm_email.html" >
    <div ng-show="vm.userInfoForm.submit">
        <div  ng-show="userInfoForm.email.$error.email" >
            <div hs-form-message-chrome-bubble  >
                <span ><span translate="MODULES_PROJECTMANAGE_PLEASE_FILL_IN">请填写</span><span translate="正确的email格式">正确的email格式</span></span>
            </div>
        </div>
    </div>
</script>


