<div  class="hs-ui-grid-cell-contents hs-ui-grid-cell add-background-colors clearfix" >
    <div ng-if="!row.entity.isChanging" class="service--watch--list--operation--box">

        <span class="glyphicon glyphicon-play"
              ng-click="grid.appScope.vm.startService(row.entity,$event)"
              ng-class="{'button-disabled': row.entity.jobStatus != 'PAUSED'}"
            >

        </span>
        <span class="fa fa-circle stop--btn"
              ng-click="grid.appScope.vm.stopService(row.entity,$event)"
              ng-class="{'button-disabled': row.entity.jobStatus == 'PAUSED'}"
        >

        </span>

    </div>
    <div ng-if="row.entity.isChanging">
        <md-progress-circular  class="md-hue-2" md-diameter="20px"></md-progress-circular>
    </div>
</div>
