.hs-user-login {
  width: 100%;
  height: 100%;
  background: #C7DDF2; }
  .hs-user-login .hs-user-login-bg__wrapper {
    width: 100%;
    height: 100%;
    position: relative;
    top: -100px;
    background: url("../images/user-login-bg_dl1.jpg") 50% 50% no-repeat; }
    .hs-user-login .hs-user-login-bg__wrapper .user-login-box {
      width: 900px;
      height: 355px;
      margin: 0 auto;
      position: relative;
      left: -10px;
      top: 45px; }
      .hs-user-login .hs-user-login-bg__wrapper .user-login-box .user-login__tr .icon-left-box {
        position: absolute;
        top: 75px;
        left: -32px; }
        .hs-user-login .hs-user-login-bg__wrapper .user-login-box .user-login__tr .icon-left-box .icon-left {
          display: block;
          width: 250px;
          height: 197px;
          background: url("../images/user-login_left.jpg") no-repeat; }
      .hs-user-login .hs-user-login-bg__wrapper .user-login-box .user-login__tr .icon-center-box {
        position: absolute;
        top: 75px;
        left: 218px; }
        .hs-user-login .hs-user-login-bg__wrapper .user-login-box .user-login__tr .icon-center-box__top {
          width: 394px;
          height: 7px;
          background: url("../images/user-login-center-md1.png") no-repeat; }
        .hs-user-login .hs-user-login-bg__wrapper .user-login-box .user-login__tr .icon-center-box__middle {
          width: 394px;
          height: 179px;
          background: url("../images/user-login_md2.jpg") repeat-x; }
        .hs-user-login .hs-user-login-bg__wrapper .user-login-box .user-login__tr .icon-center-box__bottom {
          width: 394px;
          height: 11px;
          background: url("../images/user-login-center-md3.png") no-repeat; }
        .hs-user-login .hs-user-login-bg__wrapper .user-login-box .user-login__tr .icon-center-box .user-login-title__bg {
          color: #ffffff;
          font-size: 30px;
          letter-spacing: 2px;
          position: absolute;
          top: 57px;
          left: 43px; }
          .hs-user-login .hs-user-login-bg__wrapper .user-login-box .user-login__tr .icon-center-box .user-login-title__bg__English {
            display: block;
            font-size: 14px; }
      .hs-user-login .hs-user-login-bg__wrapper .user-login-box .user-login__tr .icon-right-box {
        width: 330px;
        height: 355px;
        background: url("../images/user-login-right-bg.png") no-repeat;
        position: absolute;
        top: 9px;
        right: -42px; }
        .hs-user-login .hs-user-login-bg__wrapper .user-login-box .user-login__tr .icon-right-box .hs-user-login-wrapper__input {
          width: 234px;
          position: absolute;
          top: 98px;
          left: 30px; }
          .hs-user-login .hs-user-login-bg__wrapper .user-login-box .user-login__tr .icon-right-box .hs-user-login-wrapper__input .user-login-input {
            margin-bottom: 10px; }
            .hs-user-login .hs-user-login-bg__wrapper .user-login-box .user-login__tr .icon-right-box .hs-user-login-wrapper__input .user-login-input .login-input-transl {
              float: left;
              padding-top: 8px;
              text-align: center;
              width: 70px; }
            .hs-user-login .hs-user-login-bg__wrapper .user-login-box .user-login__tr .icon-right-box .hs-user-login-wrapper__input .user-login-input input {
              width: 160px;
              float: right; }
            .hs-user-login .hs-user-login-bg__wrapper .user-login-box .user-login__tr .icon-right-box .hs-user-login-wrapper__input .user-login-input select {
              width: 160px;
              float: right; }
          .hs-user-login .hs-user-login-bg__wrapper .user-login-box .user-login__tr .icon-right-box .hs-user-login-wrapper__input .user-login-checkbox {
            padding-left: 70px; }
          .hs-user-login .hs-user-login-bg__wrapper .user-login-box .user-login__tr .icon-right-box .hs-user-login-wrapper__input .user-login-btn {
            padding: 6px 30px;
            margin-left: 70px; }

.normal--user--login {
  width: 100%;
  height: 100%;
  background: #f5f5f5;
  overflow-y: auto;
  position: relative; }
  .normal--user--login .top--logo--box {
    width: 100%;
    height: 65px;
    background: #ffffff;
    border-bottom: 1px solid #d4d4d4; }
    .normal--user--login .top--logo--box .caption--box {
      width: 980px;
      margin: 0 auto;
      height: inherit; }
      .normal--user--login .top--logo--box .caption--box__logo {
        margin-top: 15px; }
      .normal--user--login .top--logo--box .caption--box .title {
        float: right;
        font-size: 20px;
        padding: 10px 0; }
  .normal--user--login .input-content-wrapper {
    width: 420px;
    margin: 100px auto 0;
    background: #ffffff;
    border-radius: 5px;
    padding: 30px; }
    .normal--user--login .input-content-wrapper .caption {
      display: inline-block;
      font-size: 18px;
      width: 100%;
      color: #000;
      text-align: center;
      padding: 10px 0 20px 0; }
    .normal--user--login .input-content-wrapper .input-content--box {
      padding: 10px 0px; }
      .normal--user--login .input-content-wrapper .input-content--box .user-login-input .title {
        font-weight: normal;
        transform: none; }
      .normal--user--login .input-content-wrapper .input-content--box .user-login-input__input {
        height: 40px;
        line-height: 40px;
        border: 1px solid #e1e1e1;
        border-radius: 5px; }
    .normal--user--login .input-content-wrapper .user-login-btn {
      width: 100%;
      height: 40px; }
  .normal--user--login .bottom--footer--box {
    width: 980px;
    height: 50px;
    border-top: 1px solid #e2e2e2;
    position: absolute;
    bottom: 0px;
    left: 50%;
    margin-left: -490px; }

/*# sourceMappingURL=../../../../maps/webComponents/login/css/login.css.map */
