@charset "utf-8";
.hs-user-login{
  width: 100%;
  height: 100%;
  background: #C7DDF2;
  //padding-top: 104px;
  @media (max-width: 1000px) {
  }
  .hs-user-login-bg__wrapper{
    width: 100%;
    height: 100%;
    position: relative;
    top: -100px;
    background: url("../images/user-login-bg_dl1.jpg") 50% 50% no-repeat;

    //padding-top: 104px;
    .user-login{
      &__bg{

      }
      &-box{
        width: 900px;
        height: 355px;
        margin: 0 auto;
        position: relative;
        left: -10px;
        top: 45px;
        .user-login__tr{

          .icon-left-box{
            position: absolute;
            top:75px;
            left:-32px;
            .icon-left{
              display: block;
              width: 250px;
              height: 197px;
              background: url("../images/user-login_left.jpg") no-repeat;
            }
          }
          .icon-center-box{
            position: absolute;
            top:75px;
            left:218px;
            &__top{
              width: 394px;
              height: 7px;
              background: url("../images/user-login-center-md1.png") no-repeat;
            }
            &__middle{
              width: 394px;
              height: 179px;
              background: url("../images/user-login_md2.jpg") repeat-x;
            }
            &__bottom{
              width: 394px;
              height: 11px;
              background: url("../images/user-login-center-md3.png") no-repeat;
            }
            .user-login-title__bg{
              color: #ffffff;
              font-size: 30px;
              letter-spacing: 2px;
              position: absolute;
              top: 57px;
              left: 43px;
              &__English{
                display: block;
                font-size: 14px;
              }
            }
          }
          .icon-right-box{
            width: 330px;
            height: 355px;
            background: url("../images/user-login-right-bg.png") no-repeat;
            position: absolute;
            top:9px;
            right:-42px;
            .hs-user-login-wrapper__input{
              width: 234px;
              position: absolute;
              top: 98px;
              left: 30px;
              .user-login-input{
                margin-bottom: 10px;
                .login-input-transl{
                  float: left;
                  padding-top: 8px;
                  text-align: center;
                  width: 70px;
                }
                input{
                  width: 160px;
                  float: right;
                }
                select{
                  width: 160px;
                  float: right;

                }
              }
              .user-login-checkbox{
                padding-left: 70px;
              }
              .user-login-btn{
                padding: 6px 30px;
                margin-left: 70px;
              }
            }
          }
        }
      }
    }
  }
}

.normal--user--login{
  width: 100%;
  height: 100%;
  //background: #f5f5f5;
  background: url(../images/login--bg.jpg) no-repeat center;
  overflow-y: auto;
  position: relative;
  .top--logo--box{
    width: 100%;
    height: 65px;
    background: #ffffff;
    border-bottom: 1px solid #d4d4d4;
    .caption--box{
      width: 980px;
      margin: 0 auto;
      height: inherit;
      &__logo{
        margin-top: 15px;
      }
      .title{
        //display: inline-block;
        //font-weight: bold;
        //font-size: 20px;
        //padding: 10px 0;
        float: right;
        font-size: 20px;
        padding: 10px 0;
      }
    }
  }
  .input-content-wrapper{
    width: 420px;
    margin: 160px auto 0;
    font-size: 14px !important;
    //background: #ffffff;
    border-radius: 5px;
    padding: 30px;
    box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.1);
    background: rgba(255, 255, 255, 0.65);
    .caption{
      display: inline-block;
      font-size: 18px;
      width: 100%;
      color: #000;
      text-align: center;
      padding: 10px 0 20px 0;
    }
    .input-content--box{
      padding: 10px 0px;
      .user-login-input{
        .title{
          font-weight: normal;
          transform: none;
        }
        &__input{
          height: 40px;
          line-height: 40px;
          border: 1px solid #e1e1e1;
          border-radius: 5px;
          background: #ffffff;
        }
        .select--language--title{
          font-weight: normal;
          transform: none;
          color: rgba(0,0,0,0.54);
          width: 75px;
          vertical-align: text-top;
        }
        .select--language--box{
          margin: 0px;
          &__select{
            margin: 0px;
            width: 270px;
          }
        }
      }
      .user-login-checkbox{
        margin: 20px 0;
      }
    }
    .user-login-btn{
      width: 100%;
      height: 40px;
    }
  }
  .bottom--footer--box{
    width: 980px;
    height: 50px;
    border-top: 1px solid #e2e2e2;
    position: absolute;
    bottom: 0px;
    left: 50%;
    margin-left: -490px;
  }
}

