<div class="hs-ui-grid-cell-contents hs-ui-grid-cell add-background-colors clearfix"><div ng-show="row.entity.isHover"><span style="margin-right:15px; margin-left: 20px" class="glyphicon glyphicon-eye-open" ng-click="grid.appScope.vm.checkInOperation(row.entity,$event)"><md-tooltip md-direction="bottom">{{'MODULES_SERVICEWATCH_VIEW_DETAILS'|translate}}</md-tooltip></span> <span ng-if="row.entity.batchStatus == 5" class="glyphicon glyphicon-tasks" ng-click="grid.appScope.vm.checkDetailData(row.entity,$event)"><md-tooltip md-direction="bottom">{{'MODULES_BATCH_VIEW_ABNORMAL_PACKET'|translate}}</md-tooltip></span></div></div><style>
    .hidd{
        /*transition: 0.1s linear all; -webkit-transition: 0.3s linear all;*/
        /*transform: translateX(150px);*/
        visibility: hidden;
    }
    .ui-grid-row:hover .hidd{
        /*transition: 0.1s linear all; -webkit-transition: 0.3s linear all;*/
        /*transform: translateX(0px);*/
        visibility: visible;
    }
</style>