<md-dialog aria-label="Mango" class="check--error--list--modal">
    <md-toolbar class="md-menu-toolbar">
        <div class="md-toolbar-tools">
            <h2 translate="MODULES_BATCH_DETAILED_PACKET">详细数据包</h2>
            <span flex></span>
            <button type="button" class="close" ng-click="vm.cancel()" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
        </div>
    </md-toolbar>
    <md-progress-linear ng-show="vm.loading" md-mode="indeterminate"></md-progress-linear>
    <md-dialog-content class="check--error--list--modal_content">
        <div class="operation--box clearfix">
            <div class="pull-left">
                <md-button class=" green--btn" ng-click="vm.exportList()" translate="MODULES_BATCH_EXPORT_LIST">导出清单</md-button>
                <md-button class=" green--btn" ng-click="vm.downloadFile()" translate="MODULES_BATCH_DOWNLOAD">下载</md-button>
                <md-button class="green--btn" ng-click="vm.previewDoc()" ng-disabled="gridApi.selection.getSelectedRows().length != 1">
                    <i class="fa fa-eye" aria-hidden="true"></i>
                    <span translate="MODULES_BATCH_PREVIEW">预览</span>
                </md-button>
            </div>
        </div>
        <div  ui-grid="gridOptions" style="height: 100%" class="common--uigrid--height batch-grid "  ui-grid-auto-resize ui-grid-resize-columns  ui-grid-selection ui-grid-pagination ui-grid-pinning></div>
    </md-dialog-content>
</md-dialog>

