<md-dialog aria-label="Mango">
    <div class="new-project-alert-modal-wrapper">
        <div class="new-project-alert-prompt">
            <h1>异常数据列表</h1>
        </div>
        <div class="success--tips">
            <md-button  ng-disabled="vm.loading" ng-click="vm.deleteData()" class="green--btn md-fab">
                <span class="glyphicon glyphicon-trash"></span>
            </md-button>
            <md-button  ng-disabled="vm.loading" ng-click="vm.forceChange()" class="green--btn md-fab">
                <span class="glyphicon glyphicon-refresh"></span>
            </md-button>
        </div>
    </div>

</md-dialog>