<div class="anim-slide-right data--base--sidenav data--error " >
    <md-sidenav
            class="anim-slide-right pull--left data--base--wrapper "
            md-component-id="left"
            md-is-locked-open="true"
            md-whiteframe="4"
    >
        <div class="select--data--source--box">
            选择数据源
        </div>
        <div class="data--base--column--wrapper">
            <ul class="data--base--column--box">
                <!--<md-subheader class="md-no-sticky"></md-subheader>-->
                <li class="each--column--box" ng-repeat="item in vm.dataBases" ng-click="vm.getBaseData(item.id)"  ng-class="{active: vm.parameter.projectId == item.id}">
                    <a>
                        <span class="fa fa-database" aria-hidden="true"></span>
                        {{ item.projectName }}
                    </a>
                </li>
            </ul>
        </div>


    </md-sidenav>
</div>
<div class="anim-slide-left data--base--sidenav--right--box position--relative">
    <div class="data--filtering--wrapper">
        <!--<div class="data&#45;&#45;filtering&#45;&#45;head">-->
            <!--<span class="title">数据过滤</span>-->
            <!--<i ng-show="vm.showMenu" ng-click="vm.showMenu=!vm.showMenu" class="fa fa-angle-down put&#45;&#45;away&#45;&#45;btn" style="cursor: pointer" aria-hidden="true"></i>-->
            <!--<i ng-show="!vm.showMenu" ng-click="vm.showMenu=!vm.showMenu" class="fa fa-angle-right put&#45;&#45;away&#45;&#45;btn" style="cursor: pointer" aria-hidden="true"></i>-->
        <!--</div>-->
        <div class="filter--properties--box clearfix" ng-init="vm.showMenu=true" ng-class="{true: 'showTool', false: 'hiddenTool'}[vm.showMenu]" style="transition: all 0.3s ease-in-out;">
            <div class="single--attribute--box">
                <span class="attribute--title">批次状态</span>
                <div class="attribute--value">
                    <md-select ng-model="vm.parameter.batchStatus"
                    >
                        <md-option ng-value="0" >结束</md-option>
                        <md-option ng-value="1" >开始</md-option>
                    </md-select>
                </div>
            </div>
            <div class="single--attribute--box">
                <span class="attribute--title">异常处置：</span>
                <div class="attribute--value">
                    <input type="checkbox" ng-checked="vm.parameter.errorOperation == 'forceSwitch'" ng-click="vm.parameter.errorOperation = 'forceSwitch'">
                    <span >强制转换</span>
                    <input type="checkbox" ng-checked="vm.parameter.errorOperation == 'delete'" ng-click="vm.parameter.errorOperation = 'delete'">
                    <span >删除</span>
                </div>
            </div>
            <md-button class="pull-right green--btn" ng-click="vm.search()">过滤</md-button>
            <div class="single--attribute--box time--frame">
                <span class="attribute--title">时间范围</span><div  layout="row" class="attribute--value">
                    <div class="input-group">
                        <input type="text" class="form-control" uib-datepicker-popup ng-model="vm.parameter.dateFrom" is-open="popup2.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
                          <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="popup2.opened = true"><i class="glyphicon glyphicon-calendar"></i></button>
                          </span>
                    </div>
                </div><span class="time--frame__sign">-</span><div  layout="row" class="attribute--value">
                    <div class="input-group">
                        <input type="text" class="form-control" uib-datepicker-popup ng-model="vm.parameter.dateTo" is-open="popup3.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
                          <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="popup3.opened = true"><i class="glyphicon glyphicon-calendar"></i></button>
                          </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="batch--grid--wrap">
        <div class="clearfix operation--box">
            <md-button class="pull-left md-raised green--btn" ng-click="vm.search()">导出批次清单</md-button>
            <md-button class="pull-left md-raised green--btn" ng-click="vm.search()">强制转换</md-button>
            <md-button class="pull-left md-raised red--btn" ng-click="vm.search()">删除异常数据</md-button>
        </div>
        <div  ui-grid="gridOptions" style="height: calc(100% - 100px);" class="common--uigrid--height batch-grid" ui-grid-infinite-scroll ui-grid-auto-resize ui-grid-resize-columns  ui-grid-exporter  ui-grid-move-columns ui-grid-save-state  ui-grid-selection ui-grid-pagination ui-grid-pinning></div>
    </div>
    <md-sidenav class="md-sidenav-right right--sidebar--info--wrap" md-component-id="right" md-whiteframe="4">
        <div ng-include="'./modules/batch/template/sideBar/sideBar.html'"></div>
    </md-sidenav>
</div>