@charset "utf-8";
body {
  font-family: Arial, Verdana, Tahoma, "Hiragino Sans GB", Microsoft YaHei, SimSun, sans-serif;
  font-size: 13px;
  line-height: 1.42857143;
  color: #333;
}
* {
  outline:none;
}
.ver-align-top{
  vertical-align: top !important;
}
.position--relative{
  position: relative;
}
a:focus, a:hover{
  cursor: pointer;

}