@charset "utf-8";
//.button-disabled{
//  cursor: not-allowed;
//  color: gray;
//}
.md-button.md-default-theme[disabled], .md-button[disabled]{
  cursor: not-allowed !important;
  box-shadow: none;
  opacity: .65;
}
.green--btn{
  display: inline-block;
  position: relative;
  cursor: pointer;
  min-height: 36px;
  min-width: 88px;
  line-height: 100%;
  vertical-align: middle;
  align-items: center;
  text-align: center;
  border-radius: 4px;
  box-sizing: border-box;
  outline: none;
  border: 0;
  background: #40B98E !important;
  color: #ffffff !important;
  padding: 0 12px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
  margin: 0 8px;
  &:hover{
    background: #3eae81 !important;
  }
  &[disabled]:hover{
    background: #40B98E !important;
  }
}
.red--btn{
  display: inline-block;
  position: relative;
  cursor: pointer;
  min-height: 36px;
  min-width: 88px;
  line-height: 36px;
  vertical-align: middle;
  align-items: center;
  text-align: center;
  border-radius: 4px;
  box-sizing: border-box;
  outline: none;
  border: 0;
  background: #E1654F !important;
  color: #ffffff !important;
  padding: 0 12px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
  margin: 0 8px;
  &:hover{
    background: #cd624c !important;
  }
  &[disabled]:hover{
    background: #E1654F !important;
  }
}
.gray--btn{
  display: inline-block;
  position: relative;
  cursor: pointer;
  min-height: 36px;
  min-width: 88px;
  line-height: 100%;
  vertical-align: middle;
  align-items: center;
  text-align: center;
  border-radius: 4px;
  box-sizing: border-box;
  outline: none;
  border: 0;
  background: #cacaca !important;
  color: #4a4a4a !important;
  padding: 0 12px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
  margin: 0 8px;
  &:hover{
    background: #999999 !important;
  }
  &[disabled]:hover{
    background: #cacaca !important;
  }
}
.default--btn{
  display: inline-block;
  position: relative;
  cursor: pointer;
  min-height: 36px;
  min-width: 88px;
  line-height: 100%;
  vertical-align: middle;
  align-items: center;
  text-align: center;
  border-radius: 4px;
  box-sizing: border-box;
  outline: none;
  color: #4a4a4a !important;
  border-style: solid;
  border-width: 1px;
  border-color: #ccc;
  background-color: #ffffff;
  padding: 0 12px;
  box-shadow: 0 1px 5px 0 rgba(0,0,0,.2);
  margin: 0 8px;
  &:hover{
    color: #4a4a4a;
    background-color: #e6e6e6;
    border-color: #adadad;
  }
  &[disabled]:hover{
    background: #ffffff !important;
  }
}
.blue--btn{
  display: inline-block;
  position: relative;
  cursor: pointer;
  min-height: 36px;
  min-width: 88px;
  line-height: 100%;
  vertical-align: middle;
  align-items: center;
  text-align: center;
  border-radius: 4px;
  box-sizing: border-box;
  outline: none;
  border: 0;
  background: #4F93C5 !important;
  color: #ffffff !important;
  padding: 0 12px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
  margin: 0 8px;
  &:hover{
    background: #4c8bc5 !important;
  }
  &[disabled]:hover{
    background: #4F93C5 !important;
  }
}



.md-button{
  font-size: inherit;
  text-transform: none;
}
