@charset "utf-8";
.grid-search-input {
  margin-top: 10px;
  border-radius: 0px;
}
.dataBase-grid .ui-grid-header-cell{
  height: 100px;
}
.search-grid .ui-grid-cell-contents{
  border:none
}
.search-grid .ui-grid-row-selected .ui-grid-disable-selection .ui-grid-cell-contents {
  background: white !important;

}
.search-grid .ui-grid-pinned-container.ui-grid-pinned-container-left .ui-grid-cell:last-child{
  border:none;
  &:hover {
    background: white !important;
  }
}

.search-grid .ui-grid-row{
  background: transparent;
  &:hover{
    //background: #F2F6FF;
    background: white !important;
    //background: #eaf1fd;
  }
}
.ui-grid-cell.ui-grid-disable-selection.ui-grid-row-header-cell {
  pointer-events: all !important; }

div.ui-grid-cell input.edit-input{
  height: 40px;
  border: none;
  border-bottom: 1px solid #eee;
  padding-left: 5px;
}
.ui-grid-row{
  &:nth-child(odd) .ui-grid-cell {
    background-color: transparent;
    border-right: none;
  }

  &:nth-child(even) .ui-grid-cell {
    background-color: transparent;
    border-right: none;
  }
}

.hs-ui-grid-cell-contents{
  background: transparent;
}

.ui-grid-row{
  background: transparent;
  &:hover{
    //background: #F2F6FF;
    background: #f5f5f5;
    //background: #eaf1fd;
  }
}
.ui-grid-cell-contents {
  //background: transparent!important;
  //border-bottom: none ;

  //border-right: none;
}
.ui-grid-header-cell{
  border-right: none;
}

.ui-grid-pager-control input{
  vertical-align: middle;
}
.eds-uigrid-objicon{
  //height: 40px;
  //line-height: 25px;
  text-align: center;
  margin-right: 10px;
  //vertical-align: text-bottom;
  vertical-align: middle;
}
.hs-ui-grid-cell-contents{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

//业务设定
.ui-grid-header-cell{
  border-right: none;
}



.ui-grid-render-container-body{
  .ui-grid-viewport[role="rowgroup"]{
    overflow-x: auto !important;
    overflow-y: auto !important;
  }
}


.ui-grid-header-cell:last-child .ui-grid-column-resizer.right{
  border-right: none !important;
}
.ui-grid-top-panel{
  background: #ffffff !important;
}
.ui-grid-header{
  //border-bottom: none;
}
.ui-grid-header-cell .sortable{
  border-right: 1px solid #eeeeee;
}
.ui-grid{
  height: auto;
  border: none;
  border-top: 1px solid #eeeeee;
}

.ui-grid--no--border{
  border-top: none ;
  height: 220px;
  .ui-grid-header-cell .sortable{
    border-right: none;
  }
}
.ui-grid-selection-row-header-buttons.ui-grid-row-selected{
  background: transparent;
}
.ui-grid-row-selected{
  //background: #F1F8FF ;
  background: #eaf1fd ;
  &:hover{
    background: #eaf1fd;
  }
  .ui-grid-disable-selection{
    //background: #F1F8FF ;

    background: #eaf1fd ;
    //&:hover{
    //  background: #f5f5f5;
    //}
    .ui-grid-cell-contents{
      //background: #F1F8FF ;
      background: #eaf1fd ;
      //&:hover{
      //  background: #f5f5f5;
      //}
    }
  }
}

.ui-grid-menu-button{
  height: 41px;
  .ui-grid-icon-container{
    line-height: 32px;
  }
}

.ui-grid-menu-button .ui-grid-menu .ui-grid-menu-mid {
  overflow: auto;
  min-width: 150px;
}

.ui-grid-row:last-child .ui-grid-row-header-cell {
  border-bottom-width: 1px !important;
}
//.ui-grid-header-cell {
//  .sortable:last-child{
//    border-right: none !important;
//  }
//}

.ui-grid-pager-control{
  margin-left: 0px;
  margin-top: 18px;
}

.pagination{
  margin: 0;

}

.ui-grid-header-cell .sortable{
  border: none;
  height: 41px;
}

.ui-grid-header-cell-primary-focus {
  background: #3a87ad;
  color: #ffffff;
  font-weight: normal;
  border-bottom: 1px solid #3a87ad;
  padding: 7px 5px 3px 5px;
}

.ui-grid-header-cell{
  &:first-child{
    border-color: #3a87ad;
    .ui-grid-cell-contents{
      background: #3a87ad;
      md-checkbox:not([disabled]).md-primary:not(.md-checked) .md-icon{
        border-color: #cccecf ;
        background: #ffffff;
        opacity: 1;

      }
    }
  }
}
.ui-grid-pinned-container.ui-grid-pinned-container-left .ui-grid-header-cell:last-child{
  border-color: #3a87ad !important;
}

md-checkbox:not([disabled]).md-primary:not(.md-checked) .md-icon{
  border-color:#cccecf;
  background: #ffffff;
}
.ui-grid-selection-row-header-buttons{
  opacity: 1;
}