@charset "utf-8";

.md-toolbar-tools {
  @media (max-width: 959px){
    height: 64px;
    max-height: 64px;
  }
}

.dropdown-menu{
  top: 36px !important;
  padding: 5px;
}

md-dialog{
  max-width: 95%;
  max-height: 95%;
}

md-autocomplete{
  height: 34px;
  border-radius: 4px;
  md-autocomplete-wrap{
    height: inherit;
    border: 1px solid #ccc;
    border-radius: 4px;
    line-height: normal;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075) !important;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    input:not(.md-input){
      height: 32px;
      line-height: normal;
      color: #555555;

      //&:focus{
      //  border-color: #66afe9;
      //  outline: 0;
      //  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
      //  box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
      //}
    }
    md-icon{
      height: 20px;
      width: 20px;
      min-height: 20px;
      min-width: 20px;
    }
  }
}
.drop--group--box{
  display: inline-block;
  vertical-align: middle;
  .drop--group{
    //display: inline-block;
    //width: 18px;
    //height: 18px;
    //border-width: 1px;
    //border-style: solid;
    //border-color: #199ed8;
    //cursor: pointer;
    //border-radius: 50%;
    padding: 0 4px;
    font-size: 18px;
    line-height: normal;
    margin-right: 3px;
    background: #4F93C5;
    color: #ffffff;
    .btn--icon{
      width: 13px;
    }
    &.drop--on{
      border-color: rgba(0,0,0,0.54);
    }
    &.drop--off{
      position: relative;
      .core{
        width: 18px;
        height: 18px;
        background: #199ed8;
        transform: scale(.5);
        position: absolute;
        top: -1px;
        left: -1px;
        border-radius: 50%;
      }
    }
  }
}

md-toolbar.md-menu-toolbar{
  margin-bottom: 20px;
  //border-bottom: 1px solid #e4e4e4;
}
md-dialog .md-dialog-content{
  padding: 0 24px 24px 24px;
}

.highcharts-background{
  //fill: transparent;
}

md-toast{
  width: 310px;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -160px;
  text-align: center;
}
md-toast.md-default-theme .md-toast-content, md-toast .md-toast-content {
  background-color: #55B03E;
  opacity: .9;
  color: #ffffff;
  border-radius: 5px;
  font-size: 14px;
  margin: 0 auto;
  text-align: center;
}

.rzslider.rz-vertical{
  width: 2px;
}
.rzslider.rz-vertical .rz-bar-wrapper{
  width: 18px;
  padding: 0 0 0 9px;
  margin: 0 0 0 -9px;
}
.rzslider.rz-vertical .rz-bar{
  width: 2px;
  background: #bdbdbd;
}
.rzslider .rz-pointer{
  width: 18px;
  height: 18px;
  background: #797979;
  &:after{
    top: 6px;
    left: 6px;
    width: 6px;
    height: 6px;
  }
}
.rzslider.rz-vertical .rz-pointer{
  left: -8px!important;
}
.rzslider .rz-pointer.rz-active:after {
  background-color: #797979;
}

.md-select-value .md-select-icon{
  width: 16px;
}
md-checkbox{
  margin-right: 8px;

}
