@charset "utf-8";

.md-toolbar-tools {
  @media (max-width: 959px){
    height: 64px;
    max-height: 64px;
  }
}

.dropdown-menu{
  top: 36px !important;
  padding: 5px;
}

md-dialog{
  max-width: 95%;

}