.node circle{cursor:pointer;fill:#fff;stroke:#4682b4;stroke-width:1.5px}.node text{font-size:11px}path.link{fill:none;stroke:#ccc;stroke-width:1.5px}
.tip-show-animate{
    transition-duration: 0.4s;
    transition-timing-function: ease-in-out;
    transition-property: all;
    background-color:rgba(15,15,15,0.7);
    height: 100px;
    z-index: 99;
}
.hiddenTreeTool{
    padding: 0 !important;
    width: 0;
    overflow: hidden;
}
.showTreeTool{
    width: 200px;
}