<div  class="anim-slide-below-fade project--manage--main--content--wrapper"  >
    <md-content class="new--project--wrapper">
        <md-list >
            <md-list-item class="md-2-line new--project--btn--box" >
                <div class="md-list-item-text">
                    <h3>项目管理</h3>
                    <p>建立项目针对每个归档系统建立归档策略和业务模版</p>
                </div>
                <md-button ng-click="vm.newProject($event)" class="red--btn new--project--btn">
                    <span class="glyphicon glyphicon-plus"></span>
                    <span translate="PROJECT_MANAGE_NEW_PROJECT">新建项目</span>
                </md-button>
                <md-divider ng-if="!$last"></md-divider>
            </md-list-item>
        </md-list>
    </md-content>
    <div class="project--manage--data--list--wrapper">
        <md-content class="md-padding">
            <div >
                <md-card
                        ng-click="vm.serfToEdit(item)"
                        style="transition-duration: 0.5s;width: 218px;float: left;"
                        ng-mouseover="item.isHover = true"
                        ng-mouseleave="item.isHover = false"
                        ng-class="{'md-whiteframe-12dp': item.isHover}"
                        md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}"
                        md-theme-watch ng-repeat="item in vm.projectLists">
                    <md-card-title class="card--title--box">
                        <md-card-title-text >
                            <span class="md-headline">{{item.projectName}}</span>
                            <span class="md-subhead">{{item.createDate}}</span>
                        </md-card-title-text>
                        <md-card-title-media>
                            <div class="md-media-xl card-media"></div>
                        </md-card-title-media>
                    </md-card-title>
                    <md-card-content layout="row" layout-align="space-between" >
                        <div  class="project--manage--list--img--box" >
                        <span class="project--manage--list--img--box__do--center">
                            <img  ng-src="{{'images/'+ item.databaseName +'--icon.png'}}"  alt="图片"/>
                        </span>
                        </div>
                    </md-card-content>
                    <md-card-actions layout-align="start center" class="card--actions--btn--box">

                        <div class="card--actions--pull--right">
                            <div class="icon--button project-icon-tool" aria-label="More">
                                <span class="glyphicon glyphicon-trash" ng-click="vm.deleteProject($event,item)"></span>
                            </div>
                        </div>
                    </md-card-actions>
                </md-card>
            </div>
        </md-content>
    </div>

</div>
