<div class="anim-slide-left basic--data--show--wrap" >
    <md-toolbar class="md-menu-toolbar edit--project--manage--head-box">
        <div class="md-toolbar-tools">
            <md-button class="md-icon-button edit--project--manage--head--btn" ng-click="vm.cancel()">
                <a ui-sref="infoArchives.projectManage" class="fa fa-angle-left"></a>
            </md-button>
            <a  ui-sref="infoArchives.projectManage" class="project--manage--head" translate="MODULES_PROJECTMANAGE_SYSTEM_ACCESS">系统接入</a>
            <span class="fa fa-angle-right"></span>
            <span class="current--column">{{vm.entity.projectName}}</span>
            <span> | </span>
            <span class="current--column" translate="MODULES_PROJECTMANAGE_PROJECT_BASIC_INFORMATION">项目基本信息</span>
        </div>
    </md-toolbar>
    <div aria-label="Mango" class="edit--project--manage--wrapper">
        <md-progress-linear ng-show="vm.loading" md-mode="indeterminate"></md-progress-linear>
        <div class="">
            <div class="md-dialog-content base--info--content">
                <form ng-cloak
                      name="editProject"
                      novalidate
                      ng-submit="editProject.$valid?vm.editProject():vm.editProject.submit=true">
                    <div >
                        <section layout="row" layout-md="row" layout-align="start center" layout-wrap class="edit--project--row--box">
                            <span class="edit--project--row" translate="MODULES_DATABASE_ESSENTIAL_INFORMATION">基本信息</span>
                            <div class="attribute--wrapper">
                                <div class="attribute--row--box">
                                    <span class="attribute--row--box__title" translate="MODULES_PROJECTMANAGE_SERVICE_NUMBER">业务编号</span>
                                    <div class="popover-wrapper attribute--row--box__value">
                                        {{vm.entity.businessCode}}
                                    </div>
                                </div>
                                <div class="attribute--row--box">
                                    <span class="attribute--row--box__title" translate="MODULES_PROJECTMANAGE_PROJECT_NAME">项目名称</span>
                                    <div class="popover-wrapper attribute--row--box__value">
                                        <input ng-model="vm.entity.projectName"
                                               class="form-control  attribute--row--box__value-input"
                                               name="projectName"
                                               required
                                               hs-form-message
                                               hs-form-message-show="vm.editProject.submit"
                                               hs-form-message-template="editProject_projectName.html"
                                                >
                                    </div>
                                </div>
                                <div class="attribute--row--box">
                                    <span class="attribute--row--box__title" translate="MODULES_PROJECTMANAGE_CREATE_TIME">创建时间</span>
                                    <div class="popover-wrapper attribute--row--box__value">{{vm.entity.createDate | date:'yyyy.MM.dd'}}</div>
                                </div>
                                <div class="attribute--row--box">
                                    <span class="attribute--row--box__title" translate="MODULES_PROJECTMANAGE_LAST_MODIFIED">上次修改时间</span>
                                    <div class="popover-wrapper attribute--row--box__value">{{vm.entity.modifyDate | date:'yyyy.MM.dd'}}</div>
                                </div>
                                <div class="attribute--row--box">
                                    <span class="attribute--row--box__title" translate="MODULES_PROJECTMANAGE_CREATOR">创建者</span>
                                    <div class="popover-wrapper attribute--row--box__value">{{vm.entity.creator}}</div>
                                </div>
                            </div>

                        </section>
                        <section layout="row" layout-sm="column" layout-align="start center" layout-wrap class="edit--project--row--box">
                            <span class="edit--project--row" translate="MODULES_PROJECTMANAGE_SOURCE_SYSTEM_DATABASE_INFORMATION">源系统数据库信息</span>
                            <div class="attribute--wrapper">
                                <div class="attribute--row--box select">
                                    <span class="attribute--row--box__title" translate="MODULES_PROJECTMANAGE_DATABASE_TYPE"> 数据库类型</span>
                                    <div class="popover-wrapper attribute--row--box__value">
                                        <md-select  class="attribute--row--box__select"
                                                    ng-model="vm.entity.databaseName"
                                                    ng-change="vm.getVersionList(vm.entity.databaseName)"
                                                    md-on-open="vm.loadDataBase()"
                                                    name="databaseName"
                                                    required
                                                    hs-form-message
                                                    hs-form-message-show="vm.editProject.submit"
                                                    hs-form-message-template="editProject_databaseName.html"
                                                >
                                            <md-option ng-value="dataBase" ng-repeat="dataBase in vm.dataBaseDisplayLists">{{dataBase}}</md-option>
                                        </md-select>
                                    </div>
                                </div>
                                <div class="attribute--row--box select">
                                    <span class="attribute--row--box__title" translate="MODULES_PROJECTMANAGE_DATABASE_VERSION "> 数据库版本 </span>
                                    <div class="popover-wrapper attribute--row--box__value">
                                        <md-select  class="attribute--row--box__select"
                                                    ng-model="vm.entity.databaseVersion"
                                                    ng-disabled="!vm.entity.databaseName"
                                                    name="databaseVersion"
                                                    required
                                                    hs-form-message
                                                    hs-form-message-show="vm.editProject.submit"
                                                    hs-form-message-template="editProject_dataBaseVersion.html"
                                                >
                                            <md-option ng-value="version" ng-repeat="version in vm.versionList">{{version}}</md-option>
                                        </md-select>
                                    </div>
                                </div>
                                <div class="attribute--row--box select">
                                    <span class="attribute--row--box__title" translate="MODULES_PROJECTMANAGE_DATA_EXTRACTION_METHOD">数据抽取方式</span>
                                    <div class="popover-wrapper attribute--row--box__value">
                                        <md-select  class="attribute--row--box__select" ng-model="vm.entity.extractionMethod" ng-init="vm.entity.extractionMethod=0" >
                                            <md-option ng-value="0" translate="MODULES_PROJECTMANAGE_ETL_DATA_EXTRACTION">ETL数据抽取</md-option>
                                            <md-option ng-value="1" translate="MODULES_PROJECTMANAGE_AIP_INTERFACE">AIP接口</md-option>
                                        </md-select>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                    <md-dialog-actions layout="row" class="edit--project--manage--footer">
                        <md-button ng-disabled="vm.loading" type="submit" class="green--btn" translate="MODULES_PROJECTMANAGE_SAVE_CONFIGURATION">
                            保存配置
                        </md-button>
                    </md-dialog-actions>
                </form>

            </div>

        </div>
    </div>
</div>
<script type="text/ng-template" id="editProject_projectName.html" >
    <div ng-show="vm.editProject.submit">
        <div  ng-show="editProject.projectName.$error.required" >
            <div hs-form-message-chrome-bubble  >
                <span ><span translate="MODULES_PROJECTMANAGE_PLEASE_FILL_IN">请填写</span><span translate="MODULES_PROJECTMANAGE_PROJECT_NAME">项目名称</span></span>
            </div>
        </div>
    </div>
</script>
<script type="text/ng-template" id="editProject_databaseName.html" >
    <div ng-show="vm.editProject.submit">
        <div  ng-show="editProject.databaseName.$error.required" >
            <div hs-form-message-chrome-bubble  >
                <span ><span translate="MODULES_PROJECTMANAGE_PLEASE_SELECT">请选择</span><span translate="MODULES_PROJECTMANAGE_DATA_BASE">数据库</span></span>
            </div>
        </div>
    </div>
</script>
<script type="text/ng-template" id="editProject_dataBaseVersion.html" >
    <div ng-show="vm.editProject.submit">
        <div  ng-show="editProject.dataBaseVersion.$error.required" >
            <div hs-form-message-chrome-bubble  >
                <span ><span translate="MODULES_PROJECTMANAGE_PLEASE_SELECT">请选择</span><span translate="MODULES_PROJECTMANAGE_DATABASE_VERSION">数据库版本</span></span>
            </div>
        </div>
    </div>
</script>