<div class="anim-slide-left " >
    <md-toolbar class="md-menu-toolbar edit--project--manage--head-box">
        <div class="md-toolbar-tools">
            <md-button class="md-icon-button edit--project--manage--head--btn" ng-click="vm.cancel()">
                <a ui-sref="infoArchives.projectManage" class="fa fa-angle-left"></a>
            </md-button>
            <a  ui-sref="infoArchives.projectManage" class="project--manage--head">项目管理</a>
            <span> > </span>
            <span class="current--column">行政审批系统</span>
            <span> | </span>
            <span class="current--column">项目基本信息</span>
        </div>
    </md-toolbar>
    <div aria-label="Mango" class="edit--project--manage--wrapper">
        <md-progress-linear ng-show="vm.loading" md-mode="indeterminate"></md-progress-linear>
        <div class="">
            <div class="md-dialog-content base--info--content">
                <form ng-cloak
                      name="editProject"
                      novalidate
                      ng-submit="editProject.$valid?vm.editProject():vm.editProject.submit=true">
                    <div >
                        <section layout="row" layout-md="row" layout-align="start center" layout-wrap class="edit--project--row--box">
                            <span class="edit--project--row">基本信息</span>
                            <div class="attribute--wrapper">
                                <div class="attribute--row--box">
                                    <span class="attribute--row--box__title">业务编号</span>
                                    <div class="popover-wrapper attribute--row--box__value">
                                        {{vm.entity.businessCode}}
                                    </div>
                                </div>
                                <div class="attribute--row--box">
                                    <span class="attribute--row--box__title">项目名称</span>
                                    <div class="popover-wrapper attribute--row--box__value">
                                        <input ng-model="vm.entity.projectName"
                                               class="form-control "
                                               name="projectName"
                                               required
                                               hs-form-message
                                               hs-form-message-show="vm.editProject.submit"
                                               hs-form-message-template="editProject_projectName.html"
                                                >
                                    </div>
                                </div>
                                <div class="attribute--row--box">
                                    <span class="attribute--row--box__title">创建时间</span>
                                    <div class="popover-wrapper attribute--row--box__value">{{vm.entity.createDate | date:'yyyy年MM月dd日'}}</div>
                                </div>
                                <div class="attribute--row--box">
                                    <span class="attribute--row--box__title">上次修改时间</span>
                                    <div class="popover-wrapper attribute--row--box__value">{{vm.entity.modifyDate | date:'yyyy年MM月dd日'}}</div>
                                </div>
                                <div class="attribute--row--box">
                                    <span class="attribute--row--box__title">创建者</span>
                                    <div class="popover-wrapper attribute--row--box__value">{{vm.entity.creator}}</div>
                                </div>
                            </div>

                        </section>
                        <section layout="row" layout-sm="column" layout-align="start center" layout-wrap class="edit--project--row--box">
                            <span class="edit--project--row">源系统数据库信息</span>
                            <div class="attribute--wrapper">
                                <div class="attribute--row--box select">
                                    <span class="attribute--row--box__title"> 数据库类型 </span>
                                    <div class="popover-wrapper attribute--row--box__value">
                                        <md-select  class="attribute--row--box__select"
                                                    ng-model="vm.entity.databaseName"
                                                    ng-change="vm.getVersionList(vm.entity.databaseName)"
                                                    md-on-open="vm.loadDataBase()"
                                                    name="databaseName"
                                                    required
                                                    hs-form-message
                                                    hs-form-message-show="vm.editProject.submit"
                                                    hs-form-message-template="editProject_databaseName.html"
                                                >
                                            <md-option ng-value="dataBase.databaseName" ng-repeat="dataBase in vm.dataBases">{{dataBase.databaseName}}</md-option>
                                        </md-select>
                                    </div>
                                </div>
                                <div class="attribute--row--box select">
                                    <span class="attribute--row--box__title"> 数据库版本 </span>
                                    <div class="popover-wrapper attribute--row--box__value">
                                        <md-select  class="attribute--row--box__select"
                                                    ng-model="vm.entity.databaseVersion"
                                                    ng-disabled="!vm.entity.databaseName"
                                                    name="databaseVersion"
                                                    required
                                                    hs-form-message
                                                    hs-form-message-show="vm.editProject.submit"
                                                    hs-form-message-template="editProject_dataBaseVersion.html"
                                                >
                                            <md-option ng-value="version" ng-repeat="version in vm.versionList">{{version}}</md-option>
                                        </md-select>
                                    </div>
                                </div>
                                <div class="attribute--row--box select">
                                    <span class="attribute--row--box__title">数据抽取方式</span>
                                    <div class="popover-wrapper attribute--row--box__value">
                                        <md-select  class="attribute--row--box__select" ng-model="vm.entity.extractionMethod" ng-init="vm.entity.extractionMethod=0" >
                                            <md-option ng-value="0" >ETL数据抽取</md-option>
                                            <md-option ng-value="1" >AIP接口</md-option>
                                        </md-select>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                    <md-dialog-actions layout="row" class="edit--project--manage--footer">
                        <md-button ng-disabled="vm.loading" type="submit" class="green--btn">
                            保存配置
                        </md-button>
                    </md-dialog-actions>
                </form>

            </div>

        </div>
    </div>
</div>
<script type="text/ng-template" id="editProject_projectName.html" >
    <div ng-show="vm.editProject.submit">
        <div  ng-show="editProject.projectName.$error.required" >
            <div hs-form-message-chrome-bubble  >
                <span >请填写项目名称</span>
            </div>
        </div>
    </div>
</script>
<script type="text/ng-template" id="editProject_databaseName.html" >
    <div ng-show="vm.editProject.submit">
        <div  ng-show="editProject.databaseName.$error.required" >
            <div hs-form-message-chrome-bubble  >
                <span >请选择数据库</span>
            </div>
        </div>
    </div>
</script>
<script type="text/ng-template" id="editProject_dataBaseVersion.html" >
    <div ng-show="vm.editProject.submit">
        <div  ng-show="editProject.dataBaseVersion.$error.required" >
            <div hs-form-message-chrome-bubble  >
                <span >请选择数据库版本</span>
            </div>
        </div>
    </div>
</script>